<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.geungeunhanjan.mapper.user.KakaoUserMapper">

    <!--    사용자 정보 조회 -->
    <select id="findByProviderId" resultType="KakaoVO">
        SELECT * FROM GGHJ_KAKAO WHERE PROVIDER_ID = #{providerId}
    </select>

    <!--    사용자 정보 저장 -->
    <insert id="insertUser" parameterType="KakaoDTO">
        <selectKey keyProperty="kakaoId" resultType="Long" order="BEFORE">
            select seq_kakao.nextval from dual
        </selectKey>
        INSERT INTO GGHJ_KAKAO
            (kakao_id, NAME, PROFILE_PIC, PROVIDER, PROVIDER_ID, CREATE_AT, UPDATE_AT)
        VALUES
            (#{kakaoId}, #{name}, #{profilePic}, #{provider}, #{providerId},
             #{createAt}, #{updateAt})
    </insert>

    <!--    사용자 정보 업데이트 -->
    <update id="updateUser" parameterType="KakaoVO">
        UPDATE GGHJ_KAKAO
        SET name = #{name}, profile_pic = #{profilePic}, update_at = SYSDATE
        WHERE provider_id = #{providerId}
    </update>
</mapper>