<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅방</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/notion.css}">
    <link rel="stylesheet" th:href="@{/css/chat/chatList.css}">
    <script defer th:src="@{/js/community/inquiry.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script defer th:src="@{/js/chat/chat.js}"></script>
    <script defer th:src="@{/js/chat/chat-img.js}"></script>
</head>

<body>
<div th:replace="~{/fragment/header::header}"></div>
<!-- 공지 전체 감싸는 div -->
<div class="notification-container container">
    <!-- 공지/문의 선택 버튼 감싸는 div -->
    <div class="notification-wrap1">
        <div class="notification-selector">
            <span class="notification-title">
                <button type="button">채팅목록</button>
            </span>
        </div>
        <div class="notification-title-hr"><hr></div>
    </div>
    <!-- 채팅방 리스트 감싸는 div -->
    <div class="notification-wrap2">
        <div class="notification-contents contents-form">
            <div class="contents-prev-content">
                <span class="contents-number">No</span>
                <span class="contents-nickname">수신자</span>
            </div>
            <div class="contents-next-content">
<!--                <span class="contents-date">작성시간</span>-->
            </div>
        </div>
        <!-- 각 채팅방 목록을 반복해서 출력 -->
        <div class="chat-wrapper"  th:each="room : ${chatRooms}">
            <input type="hidden" th:value="${room.roomId}"  id="roomId">
            <input type="hidden" th:value="${room.receiverId}" id="receiverId2">
            <div class="chat-li-content">
                <!-- 앞쪽 -->
                <div class="prev-wrap">
                    <!-- 1. 프로필 사진  -->
                    <a class="profile-list-img-box" th:href="@{/yourLife/userpage/{receiverId}(receiverId=${room.receiverId})}">
                    </a>
                    <!-- 2. 닉네임 / 컨텐츠 박스 / 시간 -->
                    <div class="content-box">
                        <a class="nickname2"  th:text="${room.receiverNickname}"
                             th:href="@{/yourLife/userpage/{receiverId}(receiverId=${room.receiverId})}">닉네임</a>
                      <!--  <div class="conversation-box">
                            <span class="conversation" >ㅎㅎ</span>
                            <span class="cv-time">12분 전</span>
                        </div>-->
                    </div>
                </div>

                <!-- 뒤쪽-->
                <!-- 3. 버튼 -->
                <a class="next-wrap" th:href="@{'/chat/room/' + ${room.roomId}}">
                    <div class="submit-default">
                        <img th:src="@{/img/main/submitButton.png}" alt="Submit Button Image">
                    </div>
                    <div class="hovers">채팅하기</div>
                </a>
            </div>
            <hr class="chatList-hr">
        </div>
    </div>
</div>
<div th:replace="~{/fragment/footer::footer}"></div>
</body>

</html>
