       <!DOCTYPE html>
       <html lang="en" xmlns:th="http://www.thymeleaf.org">
            <head>
              <meta charset="UTF-8" />
              <meta http-equiv="X-UA-Compatible" content="IE=edge" />
              <meta name="viewport" content="width=device-width, initial-scale=1.0" />
              <title>Document</title>
              <link rel="stylesheet" th:href="@{/css/notion.css}" />
              <link rel="stylesheet" th:href="@{/css/reset.css}"/>
              <link rel="stylesheet" th:href="@{/css/myLife/mypageNotification.css}">
              <script defer th:src="@{/js/myLife/life-profile-back.js}"></script>


            </head>
            <body>



            <div th:replace="~{/fragment/header::header}"></div>
              <div id="wrapper">

                <main>
                  <input type="hidden" id="uniId" th:value="${userInfo.uniId}">
                  <div class="container">
                    <!-- 상단배너  -->
                    <div class="banner">
                      <div class="first-container">
                        <div class="profile-background">
                          <div class="profile-background-dark"></div>
                          <div class="profile-bg-img-box">
                            <!-- 이미지 들어가는 곳 -->
                          </div>
                          <div class="profile">
                            <div class="box-profile-img-a">
                              <!-- 이미지 들어가는 곳 -->
                            </div>
                            <div class="profile-detail">
                              <p id="profile-nickname" th:text="${userInfo.nickname}">장윤근</p>
                              <p>
                                <span class="follower-number" th:text="${followerCnt}">36</span>
                                <span class="follower">팔로워</span>
                              </p>
                              <p>
                                <span class="follower-number" th:text="${followingCnt}">128</span>
                                <span class="follower">팔로잉</span>
                              </p>
                              <!-- <p class="profile-heart"><img src="./../../img/myLife/mdj-heart_negative.png" alt="하투"></p> -->
                            </div>
                          </div>
                        </div>
                        <div class="profile-text">
                          <div class="profile-introduce">
                            <p th:text="${userInfo.uniAbout}">자기소개</p>
                          </div>
                        </div>
                      </div>
                      <div class="second-container">
                        <a class="btn-second second-first" th:href="@{/myLife/mypageCommentList}">
                          <p>내가 쓴 댓글</p>
                        </a>
                        <a class="btn-second second-etc" th:href="@{/myLife/mypageLike}">
                          <p>좋아요</p>
                        </a>
                        <a class="btn-second second-etc" th:href="@{/myLife/mypageEditMemberInformation}">
                          <p>회원 정보 수정</p>
                        </a>
                        <a class="btn-second second-etc" th:href="@{/myLife/mypageNotification}">
                          <p>알림</p>
                        </a>
                      </div>

                      <hr>
                    </div>
          
          
                            
                  <!-- 내 알림 목록 DIV 박스  -->
          <div class="notification-list-box">

            <!-- 내 알림 목록 글자  -->
            <div class="notification-paragraph">
              <p>내 알림 목록</p>
            </div>
            <!-- 내 알림 리스트 목록  10개 -->
            <article class="notification-list-article">
              <ul class="notification-contents">

                <li class="notification-lists-complaint" th:each="report : ${reports}">
                  <div class="box-lists">
                    <div class="notification-list-left">
                      <img src="./../../img/myLife/mdj-notification-icon.png" alt="종">
                      <p>회원님의 댓글은 다음의 사유로 신고/삭제 되었습니다.</p>
                      <p class="notification-list-left-why" th:text="${report.reportReason}">욕설 및 모욕적인 말투</p>
                    </div>
                    <div class="notification-list-right">
                      <p th:text="${#temporals.format(report.reportCreatedDate, 'yyyy.MM.dd')}">2024.05.12</p>
                    </div>
                  </div>
                  <hr>
                </li>


<!--                <li class="notification-lists-follow">-->
<!--                  <div class="notification-list-left">-->
<!--                    <img src="./../../img/myLife/mdj-notification-icon.png" alt="종">-->
<!--                    <span class="notification-follow-nickname"><a href="/yourLife/userpage">닉네임</a></span>-->
<!--                    <span>님이 회원님을 팔로우했습니다.</span>-->
<!--                  </div>-->
<!--                  <div class="notification-list-right">-->
<!--                    <p>2024.05.12</p>-->
<!--                  </div>-->
<!--                </li>-->




                
              </ul>


              <!-- 페이지 네이션  -->
              <div class="notification-pagination-buttons">
                <img class="notification-pagination-button-left" src="./../../img/myLife/mdj-arrowRight.png">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
                <img src="./../../img/myLife/mdj-arrowRight.png">
              </div>
            </article>


          </div>











                  <!-- 글쓰기 버튼 -->
                    <div class="six-container">
                      <a class="another--btn" th:href="@{/myLife/detail_writingMode}">
                        <img th:src="@{/img/main/write-white.png}" alt="">
                      </a>
                    </div>
          
                  </div>
                </main>

                <div th:replace="~{/fragment/footer::footer}"></div>

              </div>
          
            </body>
          </html>
          
          
          
          
          
          
          
          
          
          
          
          
