<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
<!--    <link rel="stylesheet" href="./../../css/notion.css" />-->
    <link rel="stylesheet" href="./../../css/reset.css" />
    <link rel="stylesheet" href="./../../css/myLife/mypageEditMemberInformation.css">
    <script defer src="./../../js/myLife/mypageEditMemberInformation.js"></script>

  </head>
  <body>
  <div th:replace="~{/fragment/header::header}"></div>

    <div id="wrapper">
      <main>
        <div class="container">
<!--          <form class="edit-form" method="">-->
          <form th:action="@{/myLife/mypageEditMemberInformation}" method="post" class="edit-form" enctype="multipart/form-data" >
          <div class="edit-banner">
            <div class="edit-member-paragraph">
              <p>회원 정보 수정</p>
            </div>

            <hr class="edit-hr-top">

              <div class="edit-img-change">
                  <!--              <p class="edit-img-p1">이미지 변경</p>-->
                  <p class="edit-img-p2">프로필 이미지 변경</p>
                  <div class="edit-img-box">

                      <img  id="mypage-profile-img" src="./../../img/myLife/mdj-whiteBackground.jpg" alt="프로필 이미지">
                      <button type="button" class="edit-img-button-change" >이미지 변경</button>
                      <input name="userFileProfileSource" type="file" id="file-input-img-change" accept="image/*" style="display: none;">
                      <button type="button" class="edit-img-button-delete">삭제</button>

                  </div>
              </div>         <!-- 이미지 변경 div -->


            <hr class="edit-hr-img-change">

            <!-- 배경이미지 변경  -->
            <div class="edit-back-img-change">
              <p>배경 이미지 변경</p>
              <div class="edit-back-img-box">
                
                  <img  id="mypage-back-img" src="./../../img/myLife/mdj-whiteBackground.jpg" alt="프로필 이미지">
                  <button type="button" class="edit-back-img-button-change">이미지 변경</button>
                  <input name="userFileBackSource" type="file" id="file-input-back-img-change" accept="image/*" style="display: none;">
                  <button type="button" class="edit-back-img-button-delete">삭제</button>
                
              </div>
            </div>

            <hr class="edit-hr-back-img-change">


            <!-- 아이디  -->
            <div class="edit-id-box">
              <p>아이디(수정불가)</p>
              <p th:text="${userInfo.email}" class="edit-id-paragraph"></p>
            </div>
          

            <hr class="edit-hr-id">


            <!-- 비밀번호 , 비밀번호 확인 -->
            <!-- 비밀번호 변경하기 버튼  -->
            <div>
              <p id="edit-ori-password-paragraph">비밀번호</p>

              <a href="/myLife/mypagePasswordChange">
              <button type="button" class="edit-password-chnage-button">비밀번호 변경하기</button>
               </a>
               <hr class="edit-hr-ori-password">
            </div>
            
            <!-- 추가 현재 비밀번호  -->
            <!-- <div class="edit-ori-password-box">
              <p id="edit-ori-password-paragraph">현재 비밀번호</p>
              <input id="edit-ori-password-input" type="password" placeholder="영문,숫자 포함 8자 이상으로 입력해주세요">
              <p id="edit-ori-password-result"></p>
            </div>

            <hr class="edit-hr-ori-password">




            
            <div class="edit-password-box">
              <p id="edit-password-paragraph">새 비밀번호</p>
              <input id="edit-password-input" type="password" placeholder="영문,숫자 포함 8자 이상으로 입력해주세요">
              <p id="edit-password-result"></p>
            </div>

            <hr class="edit-hr-password">



            <div class="edit-password-check-box">
              <p id="edit-password-check-paragraph">비밀번호 확인</p>
              <input id="edit-password-check-input" type="password" placeholder="영문,숫자 포함 8자 이상으로 입력해주세요">
              <p id="edit-password-check-result"></p>
            </div>
            
            <hr class="edit-hr-password-check"> -->


            <!-- 닉네임 -->
            <div class="edit-nickname-box">
              <p id="edit-nickname-paragraph">닉네임</p>

                <div class="edit-nickname-form-div">

                    <!-- placeholder 내용은 임의로 작성하였습니다 -->
                  <input name="nickname" th:value="${lifeUserUpdateDTO.nickname}" th:placeholder="userInfo.nickname" id="edit-nickname-input" type="text" placeholder="12자 이내로 작성해주세요">
                  <button type="button" class="edit-nickname-button">중복확인</button>

                </div>
                <p id="edit-nickname-result"></p>
            </div>
            
            <hr class="edit-hr-nickname">

            <!-- 이메일,연락처 (수정불가) -->
            <div class="edit-email-box">
              <p>이메일(수정불가)</p>
              <p  class="edit-email-paragraph">email</p>
            </div>

            <hr class="edit-hr-email">

<!--            <div class="edit-phone-box">-->
<!--              <p>연락처(수정불가)</p>-->
<!--              <p class="edit-phone-paragraph">010-3399-9876</p>-->
<!--            </div>-->

<!--            <hr class="edit-hr-phone">-->

            <!-- 생년월일 -->
              <div class="edit-birth-box">
                  <p id="edit-birth-paragraph">생년월일</p>
                  <div>
                      <input class="edit-birth-year" type="text" name="year" oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="4"
                             th:value="${lifeUserUpdateDTO.userBirth?.year}">년
                      <select name="month" class="edit-birth-month">
                          <option value="1" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 1}">1</option>
                          <option value="2" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 2}">2</option>
                          <option value="3" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 3}">3</option>
                          <option value="4" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 4}">4</option>
                          <option value="5" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 5}">5</option>
                          <option value="6" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 6}">6</option>
                          <option value="7" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 7}">7</option>
                          <option value="8" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 8}">8</option>
                          <option value="9" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 9}">9</option>
                          <option value="10" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 10}">10</option>
                          <option value="11" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 11}">11</option>
                          <option value="12" th:selected="${lifeUserUpdateDTO.userBirth?.monthValue == 12}">12</option>
                      </select>월
                      <select class="edit-birth-day" name="day">
                          <option value="1" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 1}">1</option>
                          <option value="2" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 2}">2</option>
                          <option value="3" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 3}">3</option>
                          <option value="4" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 4}">4</option>
                          <option value="5" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 5}">5</option>
                          <option value="6" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 6}">6</option>
                          <option value="7" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 7}">7</option>
                          <option value="8" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 8}">8</option>
                          <option value="9" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 9}">9</option>
                          <option value="10" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 10}">10</option>
                          <option value="11" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 11}">11</option>
                          <option value="12" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 12}">12</option>
                          <option value="13" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 13}">13</option>
                          <option value="14" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 14}">14</option>
                          <option value="15" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 15}">15</option>
                          <option value="16" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 16}">16</option>
                          <option value="17" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 17}">17</option>
                          <option value="18" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 18}">18</option>
                          <option value="19" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 19}">19</option>
                          <option value="20" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 20}">20</option>
                          <option value="21" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 21}">21</option>
                          <option value="22" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 22}">22</option>
                          <option value="23" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 23}">23</option>
                          <option value="24" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 24}">24</option>
                          <option value="25" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 25}">25</option>
                          <option value="26" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 26}">26</option>
                          <option value="27" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 27}">27</option>
                          <option value="28" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 28}">28</option>
                          <option value="29" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 29}">29</option>
                          <option value="30" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 30}">30</option>
                          <option value="31" th:selected="${lifeUserUpdateDTO.userBirth?.dayOfMonth == 31}">31</option>
                      </select>일
                  </div>
                  <p id="edit-birth-result"></p>
              </div>

            <hr class="edit-hr-birth">


            <!-- 저장 / 나가기 박스  -->
            <div class="edit-save-box">
                <!-- 저장 a 링크는 마지막에 걸어두기 js확인을 위해 -->
                <button type="submit" class="edit-save-button">저장</button>
                <button class="edit-back-button"><a th:href="@{/myLife/mypage}">나가기</a></button>

            </div>


          </div>
          </form>
        </div>
      </main>
      <div th:replace="~{/fragment/footer::footer}"></div>

    </div>
  </body>
</html>