<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./../../css/notion.css" />
  <link rel="stylesheet" href="./../../css/reset.css" />
  <link rel="stylesheet" href="./../../css/myLife/mypageLike.css">
</head>
<body>

<div th:replace="~{/fragment/header::header}"></div>
<div id="wrapper">


  <main>
    <div class="container">
      <!-- 상단 배너 -->
      <div class="banner">
        <div class="first-container">
          <div class="profile-background">
            <div class="profile-background-dark"></div>
            <div class="profile-bg-img-box">
              <img th:if="${userInfo.userFileBackSource != null}" th:src="${userInfo.userFileBackSource}" alt="배경사진" class="img-back-img">
              <img th:unless="${userInfo.userFileBackSource != null}" src="/img/main/basic-background3.png" alt="기본 배경사진" class="img-back-img">
            </div>
            <div class="profile">
              <div class="profile-img-box">
                <img th:if="${userInfo.userFileProfileSource != null}" th:src="${userInfo.userFileProfileSource}" alt="프로필사진" class="img-profile-img">
                <img th:unless="${userInfo.userFileProfileSource != null}" src="/img/main/basic-profile.png" alt="기본 프로필 사진" class="img-profile-img">          </div>
              <div class="profile-detail">
<!--                <p style="display: none" id="get-user-id"  th:text="${follow.followerId}" ></p>-->
                <p id="profile-nickname" th:text="${userInfo.nickname}" >장윤근</p>
                  <p>
                      <span class="follower-number" th:text="${followerCnt}">36</span>
                      <span class="follower">팔로워</span>
                  </p>
                  <p>
                      <span class="follower-number" th:text="${followingCnt}">128</span>
                      <span class="follower">팔로잉</span>
                  </p>
                <!-- <p class="profile-heart"><img src="./../../img/myLife/mdj-heart_negative.png" alt="하투"></p> -->
              </div>
            </div>
          </div>
          <div class="profile-text">
            <div class="profile-introduce">
              <p th:text="${userInfo.uniAbout}">안녕하세요! 저는 창의적인 해결책을 찾는 열정을 가진 디자이너 장윤근입니다.
                예술과 미술이 만나는 곳에서 영감을 받아 사용자 친화적인 디자인을 만드는 것을 사랑합니다.
              </p>
            </div>

          </div>
        </div>
        <div class="second-container">
          <a class="btn-second second-first" th:href="@{/myLife/mypageCommentList}">
            <p>내가 쓴 댓글</p>
          </a>
          <a class="btn-second second-etc" th:href="@{/myLife/mypageLike}">
            <p>좋아요</p>
          </a>
          <a class="btn-second second-etc" th:href="@{/myLife/mypageEditMemberInformation}">
            <p>회원 정보 수정</p>
          </a>
          <a class="btn-second second-etc" th:href="@{/myLife/mypageNotification}">
            <p>알림</p>
          </a>
        </div>
        <hr>
      </div>




      <!-- 좋아요 목록 DIV 박스  -->
      <div class="like-list-box">

        <!-- 좋아요 목록 글자  -->
        <div class="like-paragraph">
          <p>좋아요 목록</p>
        </div>
        <!-- 좋아요 누른 리스트 목록  -->
        <article class="like-list">
          <ul class="like-contents-left">
            <!-- list 10개 -->
            <li th:each=" like : ${likes}">
              <div class="box-lists">
                <div class="like-content-left-list">
                  <img src="./../../img/myLife/mdj-heart.png" alt="하트">
                  <p   class="like-content-left-nickname">
                    <a th:text="${like.nickname}" th:href="@{/yourLife/userpage/{userId}(userId=${like.userId})}"></a>
                  <p>님의</p>
                  <p  class="like-content-left-title"><a th:text="${like.boardTitle}"  href="./../../HTML/myLife/detail-my.html"></a></p>
                  <p>을 좋아합니다.</p>
                </div>
                <div class="like-content-right-list">
                  <p th:text="${#temporals.format(like.likeCreatedDate, 'yyyy.MM.dd')}"></p>
                </div>
              </div>
              <hr class="like-list-hr">
            </li>



          </ul>


          <!-- 좋아요 목록 오른쪽 div -->

          <!--<ul class="like-contents-right">
            &lt;!&ndash; list &ndash;&gt;
            <li>
              <div class="like-content-left-list-2">
                <img class="like-right-profile" src="./../../img/myLife/mdj-img.png" alt="프로필 이미지">
                 <p class="like-content-left-nickname-right"><a href="./../../HTML/myLife/userpage.html">닉네임</a></p>
                <p>님을 팔로우합니다</p>
              </div>
              <div class="like-content-right-list">
               <p>2024.05.12</p>
              </div>
              <hr class="like-list-hr">
            </li>
          </ul>-->
        </article>


   <!-- 페이징 처리 -->
          <div class="page-container">
              <ul class="page-box">
                  <a th:href="@{/myLife/mypageCommentList(page=${page.startPage - 1})}" class="page-a" th:if="${page.prev}">
                      <li class="page-num prev">&lt</li>
                  </a>

                  <!--        th:block은 화면에 영향을 주지않는 가짜 태그
                              타임리프 문법을 사용하기 위해 만들어 쓴다.
                  -->
                  <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
                      <a th:href="@{/myLife/mypageCommentList(page=${i})}" class="page-a">
                          <li class="page-num" th:classappend="${i == page.criteria.page ? 'active' : ''}" th:text="${i}"></li>
                      </a>
                  </th:block>

                  <a th:href="@{/myLife/mypageCommentList(page=${page.endPage + 1})}" class="page-a" th:if="${page.next}">
                      <li class="page-num next">&gt</li>
                  </a>
              </ul>
          </div>
          <!-- /페이징 처리 -->

      </div>
      <div class="six-container"><a class="another--btn" th:href="@{/myLife/detail_writingMode}"><img th:src="@{/img/main/write-white.png}" alt=""></a></div>
    </div>
  </main>


  <div th:replace="~{/fragment/footer::footer}"></div>

</div>


</body>
</html>