* {
    padding: 0;
    margin: 0;
}


/* #cadb36  #594096 #1c191a*/

body {
    width: 100%;
    height: 100%;
}

#wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

header {
    text-align: center;
    /* 내부 요소들을 가운데로 정렬 */
    height: 140px;
    width: 100%;
    background-color: #e5f2f7;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgb(221, 222, 224);
    width: 100%;
    height: 335px;
}


/* -------------------------------------------------------------------------------------- */

.container {
    max-width: 1000px;
    width: 1000px;
    background-color: #fcfaf7;
    /* 다 해보고 지저분해보이면 뺄 예정 */
    box-sizing: border-box;
    padding: 40px;
    min-width: 1000px;
}


/* 컨텐츠영역 보느라 넣어둔것 지우고 알아서 쓰세욤 */

.banner {
    background-color: rgb(224, 224, 224);
    border-radius: 6px;
}


/* ----------------------------메인 컨텐츠 영역---------------------------------- */

a {
    color: black;
}

#detail_button_1 {
    color: white;
    font-weight: border;
    border-radius: 6px;
}

.detail_button1:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

input::placeholder {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 25px;
}

.period_1 li {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    padding-left: 5px;
    margin-bottom: 10px;
    width: 180%;
    border-radius: 0px 3px 3px 0px;
}

.period_1_color1 {
    background-color: rgb(248, 186, 186);
    display: block;
}

.period_1_color2 {
    background-color: rgb(242, 186, 147);
}

.period_1_color3 {
    background-color: rgb(135, 187, 135);
}

.period_1_color4 {
    background-color: rgb(129, 157, 220);
}

.period_1_color4 {
    background-color: #a596f3;
}

.period_1_color5 {
    background-color: rgb(255, 203, 254);
}

.period_1_color6 {
    background-color: rgb(234, 173, 141);
}

.period_1_color6 {
    background-color: rgb(160, 138, 138);
}

.period_1_color7 {
    background-color: rgb(231, 231, 231);
}

textarea {
    resize: none;
    padding-left: 20px;
}

#file {
    cursor: pointer;
}

::-webkit-file-upload-button{
    height: 30px;
    width: 100px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.file-input-label{
    width: 80px;
    cursor: pointer;
    display: block;
    text-align: left;
    cursor: pointer;
}

.file-input-container {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    line-height: 25px;
}

#file-names{
    /* background-color: aqua; */
}


/*====================*/


/*====================*/


/*====================*/


/*1. 타이틀*/

.wrapper-title {
    height: 50px;
    background-color: #e4ebd9;
    border-radius: 6px;
    font-size: 25px;
    font-weight: bolder;
    line-height: 50px;
    padding-left: 30px;
    margin: 20px 0px;
}

.title{
    width: 600px;
    background-color: #e4ebd9;
    border-radius: 6px;
    font-size: 25px;
    font-weight: bolder;
    line-height: 50px;
    padding-left: 30px;
    outline: none;
    border: none;
}

.wrapper-select-box {
    display: flex;
    align-items: center;
}


/*2. 년도 / 공개여부 셀렉트박스 ---- */

.wrapper-select-box {
    margin-bottom: 15px;
}

.text-year {
    margin: 0px 15px 0px 5px;
}

#select-year-detail {
    background-color: rgb(230, 227, 227);
    width: 100px;
    border-radius: 6px;
    border: 1px solid #a7a7a7;
    padding: 5px 10px;
    margin-right: 6px;
}

#select-visibility-detail {
    margin-left: 20px;
    border-radius: 6px;
    border: 1px solid #a7a7a7;
    padding: 5px 5px;
}


/*3. 파일추가 / 텍스트영역 ---- */


/*3-1. 파일추가*/

.wrapper-add-file {
    width: 100%;
    border-radius: 6px;
    text-align: center;
    line-height: 25px;
    margin: 20px 0;
}




/*3-2. 텍스트 영역 */

#content-textarea {
    width: 100%;
    height: 300px;
    resize: none;
    background-color: rgb(224, 224, 224);
    border-radius: 6px;
    padding-bottom: 16px;
    padding-left: 20px;
    outline: none;
    border: none;
    padding: 20px;
    box-sizing: border-box;
}


/*4. 저장 / 취소 버튼*/

.wrapper-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn-save {
    height: 30px;
    width: 60px;
    border: none;
    background-color: #95b95c;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

.btn-cancel {
    height: 30px;
    width: 60px;
    border: none;
    background-color: rgb(221, 222, 224);
    border-radius: 6px;
    font-size: 15px;
    margin-left: 6px;
    cursor: pointer;
}