<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원관리</title>
  <link rel="stylesheet" href="/css/notion.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/admin/dam/admin-memberList.css" />
  <script defer th:src="@{/js/admin/admin_member.js}"></script>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="logo-boxContainer">
      <div class="logo-box">
        <a th:href="@{/main}">
          <img th:src="@{/img/main/timeNotion3.png}"/>
        </a>
      </div>

      <div class="logo-boxTitle">관리자 페이지</div>
    </div>
  </header>
  <main>
    <div class="admin-container">
      <!-- 왼쪽 카테고링 -->
      <div class="container-nav">
        <!-- 관리자 계정 -->
        <div class="admin_login_status">

          <div class="admin_login_status-img">
            <img src="/img/myLife/jyg-profile_img_20240512_163410241.jpg" alt="관리자 프사">
          </div>
          <div class="admin_login_status-name">
            <p class="admin-text">Admin</p>
            <p class="admin-index">관리자 계정</p>
          </div>
        </div>

        <!-- 대시보드~ 1:1문의  -->
        <div class="admin-nav-box">
          <a th:href="@{/admin}"><button id="dashboard"><p>대시보드</p></button></a>
          <a th:href="@{/admin/boardList}"><button id="post"><p>게시판 관리</p></button></a>
          <a th:href="@{/admin/memberList}"><button id="user"><p>회원 관리</p></button></a>
          <a th:href="@{/admin/reportList}"><button id="declaration"><p>신고 관리</p></button></a>
          <a th:href="@{/admin/noticeList}"><button id="notification"><p>공지사항</p></button></a>
          <a th:href="@{/admin/inquiryList}"><button id="inquiry"><p>1:1 문의</p></button></a>
        </div>
      </div>
      <!-- 오른쪽 -->
      <div class="container-content">
        <div>
          <!-- 1. 게시판 이름 -->
          <div class="admin-title-box"><span>회원 관리</span></div>
          <!-- 2. 검색 -->
          <div class="admin-search-box">
            <form class="admin-search-left" action="/admin/memberList" method="get">
              <input type="text" name="searchKeyword" placeholder="검색어를 입력하세요" th:value="${searchKeyword}" />
              <button type="submit" class="admin-box-dodbogi">
                <img src="/img/main/돋보기.png" alt="" />
              </button>
            </form>
            <div class="admin-search-right" style="display: none;"><button>공지글 작성하기</button></div>
          </div>
          <!-- 3. 리스트 -->
          <div class="admin-list-wrapper">
            <!-- 3-1. 리스트 요소 뭔지 써있는 맨 위 회색 , 제목라인 -->
            <div class="box-admin-list-elemet">
              <ul>
                <li>
                  <!-- 왼쪽 -->
                  <div class="admin-list-left-top">
                    <div class="admin-one-top gap">회원번호</div>
                    <div class="admin-nickName-top gap">닉네임</div>
                    <div class="admin-name-top gap">이름</div>
                  </div>
                  <!-- 오른쪽 -->
                  <div class="admin-list-right-top">
                    <div class="admin-three-top gap">이메일</div>
                    <div class="admin-four-top gap">생년월일</div>
                    <div class="admin-five-top">상태/변경</div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- 3-2. 리스트들 -->
            <div class="box-admin-list" th:each="member : ${memberLists}">
              <ul>
                <!--☆☆☆☆☆☆☆-->
                <li>
                  <!-- 왼쪽 -->
                  <div class="admin-list-left">
                    <div class="admin-one gap" id="member-uniId" th:text="${member.uniId}">1</div>
                    <div class="admin-name gap"><a href="#" th:text="${member.nickname}">닉네임</a></div>
                    <div class="admin-name gap"><a href="#" th:text="${member.name}"></a></div>
                  </div>
                  <!-- 오른쪽 -->
                  <div class="admin-list-right">
                    <div class="admin-three gap"><a href="#" th:text="${member.email}">geun99@naver.com</a></div>
                    <div class="admin-four gap">
                      <span th:if="${member.birth != null}" th:text="${#dates.format(member.birth, 'yyyy.MM.dd')}">2024.05.05</span>
                      <span th:if="${member.birth == null}">-</span>
                    </div>
                    <div class="admin-five" id="member-status" th:text="${member.status}">상태</div>
                    <div class="admin-six"><button id="change-status">변경</button></div>
                  </div>
                </li>
              </ul>
            </div>

            <!-- 상태 변경 모달 추가 -->
            <div id="myModal" class="modal">
              <div class="modal-content">
                <h2>상태 변경</h2>
                <p>해당 유저의 상태를 변경하세요:</p>
                <button onclick="changeStatus('일반')" id="general">일반</button>
                <button onclick="changeStatus('정지')" id="suspension">정지</button>
                <button onclick="changeStatus('탈퇴')" id="withdrawal">탈퇴</button>
                <button id="status-cancel">취소</button>
              </div>
            </div>

          </div>
        </div>
        <div class="page-container">
          <ul class="page-box">
            <a th:href="@{/admin/memberList(page=${page.startPage - 1}, searchKeyword=${searchKeyword})}" class="page-a" th:if="${page.prev}">
              <li class="page-num prev"> < </li>
            </a>

            <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
              <a th:href="@{/admin/memberList(page=${i}, searchKeyword=${searchKeyword})}" class="page-a">
                <li class="page-num" th:classappend="${i == page.noticeCriteria.page ? 'active' : ''}" th:text="${i}"></li>
              </a>
            </th:block>

            <a th:href="@{/admin/memberList(page=${page.endPage + 1}, searchKeyword=${searchKeyword})}" class="page-a" th:if="${page.next}">
              <li class="page-num next"> > </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>

