<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/notion.css}"/>
    <link rel="stylesheet" th:href="@{/css/myLife/mypagePasswordChange.css}">
    <script defer th:src="@{/js/myLife/mypagePasswordChange.js}"></script>
  </head>
  <body>




  <div th:replace="~{/fragment/header::header}"></div>
    <div id="wrapper">

      <main>
        <div class="container">
          <div class="banner">
            <div class="password-change">
              <p>비밀번호 변경</p>
            </div>

            <div class="password-change-div">
              <!-- 추가 현재 비밀번호  -->
              <div class="edit-ori-password-box">
                <p id="edit-ori-password-paragraph">현재 비밀번호</p>
                <input id="edit-ori-password-input" type="password" placeholder="현재 사용하고 계신 비밀번호를 입력해주세요">
                <p id="edit-ori-password-result"></p>
              </div>
  
              <hr class="edit-hr-ori-password">
  
  
  
  
              
              <div class="edit-password-box">
                <p id="edit-password-paragraph">새 비밀번호</p>
                <input id="edit-password-input" type="password" placeholder="영문,숫자 포함 8자 이상으로 입력해주세요">
                <p id="edit-password-result"></p>
              </div>
  
              <hr class="edit-hr-password">
  
  
  
              <div class="edit-password-check-box">
                <p id="edit-password-check-paragraph">비밀번호 확인</p>
                <input id="edit-password-check-input" type="password" placeholder="영문,숫자 포함 8자 이상으로 입력해주세요">
                <p id="edit-password-check-result"></p>
              </div>
              
              <!-- <hr class="edit-hr-password-check"> -->

            </div>

            <div class="password-change-save">
              <a class="save-button" href="./../../HTML/myLife/mypageEditMemberInformation.html"><button>저장</button></a>
              <a class="back-button" href="/main/mypage"><button>나가기</button></a>
            </div>
          </div>
        </div>
      </main>

      <div th:replace="~{/fragment/footer::footer}"></div>
    </div>








  </body>
</html>