body {
  margin: 0;
  padding: 0;
  background-color: #fcfaf7;
}

main {
  width: 920px;
  background-color: #fcfaf7;
  margin: 0 auto;

  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1000px;
  width: 1000px;
  background-color: #fcfaf7;
  box-sizing: border-box;
  padding: 50px 10px;
  min-width: 1000px;
}
#header {
  display: flex;
  height: 140px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

header {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #e5f2f7;
}
.first-container{
  margin-bottom: 50px;
}

.profile-background {
  position: relative;
}

/* 수정1 : 검은거 한 겹 추가 */
.profile-background-dark {
  background-color: #12121280;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0px;
}

.profile-bg-img-box {
  width: 100%;
  height: 175px;
  border-radius: 5px;
}
.profile-bg-img-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.img-back-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}

/* 수정4 : 프로필 동그라미 */
.profile {
  position: absolute;
  top: 90px;
  /* width: 100px; */
  display: flex;
  align-items: center;
  margin-left: 20px;
}
/*[[[1*/
.profile-img-box {
  width: 130px;
  height: 135px;
  overflow: hidden;
  border-radius: 20%;
  margin-top: 15px;
}
.profile-img-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.img-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.profile-detail {
  display: flex;
  align-items: center;
  height: 36px;
  margin-left: 15px;
  margin-bottom: 37px;
}

.profile-detail>p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  font-size: 25px;
  color: white;
  height: 100%;
}


#profile-nickname {
  font-weight: 700;
  margin-top: 10px;

}

.follower-number {
  font-weight: 700;

}

.profile-heart img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.follower {
  font-size: 12px;

}

.follower-number {
  font-size: 18px;
}

.profile-text {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-top: 10px;
}

.profile-introduce {
  width: 500px;
  /* margin-top: ; */
  margin-left: 45px;
  margin-top: 5px;
}

.profile-introduce p {
  margin: 0;

  font-size: 13px;
  /* font-weight: bold; */

  width: 600px;
  /* 원하는 너비로 설정 */
  height: 64px;
  /* 두 줄 높이에 맞춰 설정 */

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* 원하는 줄 수 */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  /* 한 줄 높이 설정 */
}


.six-container{
  min-height: 11vh;

}

.another--btn{
  position: fixed;
  bottom: 75px;
  right: 100px;
  width: 55px;
  height: 55px;
  background-color: #95b95c;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.another--btn img{
  width: 63%; height: 63%;
  object-fit: cover;
}

.btn-second {
  background-color: #ececec;
  height: 35px;
  width: 120px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-container a {
  color: black;
  font-size: 12px;
}
/* 페이징 */
.page-box{
  display: flex;
  justify-content: center;
}
.page-a{
  color: black;
  padding: 10px 18px;
  font-size: 14px;
}
.page-a:link {
  color: pink;
}

.page-a:visited {
  color: black;
}

.page-a:hover {
  color: #343434;
}

.page-a:active {
  color: green;
}


.for-hr{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.box-lists{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
/* ===================여기까지 복붙 ========================================  */

.second-container{
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}

.second-container-comment{
  background-color: #e5f2f7;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-container-comment > a{
  font-weight: 700;
  font-size: 12px;
  color: black;
}
.second-container-comment:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}

.second-container-like{
  background-color: #e5f2f7;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-container-like:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}

.second-container-like > a{
  font-weight: 700;
  font-size: 12px;
  color: black;
  
}

.second-container-user{
  background-color: #e5f2f7;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-container-user:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}
.second-container-user > a{
  font-weight: 700;
  font-size: 12px;
  color: black;
  
}

.second-container-alarm{
  background-color: #e5f2f7;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-container-alarm:hover{
  cursor: pointer;
  background-color: #D4E6EC;
}
.second-container-alarm > a{
  font-weight: 700;
  font-size: 12px;
  color: black;
}

hr{
  opacity: 0.3
}

/* 내가 쓴 댓글 목록  */

.comment-list-box{
  /* background-color: aquamarine; */
  height: 860px;
}
.comment-paragraph{
  /* background-color: lightblue; */
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100px;
}
.comment-paragraph p{
  font-size: 25px;
  font-weight: bolder;

}



/* 댓글 목록 리스트  */

.comment-list-article{
  /* background-color: lightcyan; */
  /* display: flex; */
  justify-content: space-between;
  height: 660px;
}
.comment-contents{
  background-color: #eaeaea6e;
  border-radius: 6px;
  width: 960px;
/*  height: 572px;*/
}
.comment-lists {
  display: flex;
  /* background-color: aqua; */
  height: 60px;
/*  justify-content: space-between;*/
  align-items: center;
}

/* 임의의 말풍선 이미지 나중에 교체해야함  */
.comment-lists img{
  height: 30px;
  width: 30px;
}
.comment-list-left{
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.comment-list-left p > a{
  color: black;
  font-size: 14px;
}
.comment-list-left p , .comment-list-left img {
  margin-left: 10px;
  margin-right: 10px;
}
.comment-list-left-title{
  font-weight: bolder;
}

.comment-list-right{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
}



/* 페이지 네이션 */
.comment-pagination-buttons{
  /* background-color: lightcoral; */
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-pagination-buttons button > p{
  margin-left: 10px;
  margin-right: 10px;
}
.comment-pagination-buttons button {
  border: none;
  background-color: #FCFAF7;
  cursor: pointer;
}
.comment-pagination-buttons img{
  width: 40px;
  height: 40px;
}
.pagination-button-left{
  transform: scaleX(-1);
}