footer {
  display: flex;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: #dfdfdf;
}
.footer-wrapper {
  max-width: 1000px;
  width: 1000px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

/* 1. footer ------------------------------------------- */
.ft-linkbox-ul{
  display: flex;
}
.ft-linkbox-ul li{
  padding: 15px 20px 15px 0;
  font-size: 12px;
}
.ft-linkbox-ul li a{
  color: rgb(78, 78, 78);
}
.underline{
  border-bottom: 0.5px solid rgb(194, 194, 194);
}

/* 왼쪽 --------------- */
.ft-info-left{
  color: rgb(96, 95, 95);
}
.ft-info-left div:first-child{
  font-size: 18px;
  padding: 20px 0;
}
.ft-info-left div:nth-child(2){
  font-size: 10px;
  font-weight: normal;
  margin: 9px 0;
}
.ft-info-left div:nth-child(3){
  font-size: 10px;
  font-weight: normal;
  margin: 9px 0;
}
.ft-info-left div:nth-child(4){
  font-size: 10px;
  font-weight: normal;
}
.ft-box1{
  display: flex;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  margin: 20px 0;
  width: 150px;
  height: 30px;
  font-size: 10px;
  background-color: rgb(211, 211, 211);
}

/* 가운데 --------------- */
.ft-info-middle{
  color: rgb(78, 78, 78);
}
.ft-call-number{
  font-size: 16px;
  margin: 20px 0;
  font-weight: 500;
}
.ft-call-time{
  font-size: 10px;
  font-weight: normal;
  margin: 9px 0;
}
.title-sns{
  font-size: 11px;
  font-weight: normal;
  margin: 20px 0px 9px 0px;
  font-weight: bold;
}
/* 하단 정보 */
.ft-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-sns{
  display: flex;
  align-items: center;
}
.sns{
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgb(199, 199, 199);
  margin-right: 5px;
  overflow: hidden;
}
.box-sns a{
  color: #3f3f3f;
}