* {
    padding: 0;
    margin: 0;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 1000px;
    min-width: 1000px;
    height: 800px;
    /*background-color: #fcfaf7;  다 해보고 지저분해보이면 뺄 예정 */
    box-sizing: border-box;
    padding: 40px;
}
#error{
    margin-top: 400px;
}
#error2{
    width: 100%;
    height: 800px;
}
