<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/notion.css}">
    <link rel="stylesheet" th:href="@{/css/community/inquiry.css}">
    <script defer th:src="@{/js/community/inquiry.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
<div th:replace="~{/fragment/header::header}"></div>
<div class="inquiry-container container">
    <div class="inquiry-wrap1">
        <div class="inquiry-selector">
            <span class="notification-title">
                    <button type="button" th:onClick="|location.href='@{/community/notification}'|">공지</button>
            </span>
            <span class="inquiry-title">
                    <button type="button">문의</button>
            </span>
            <span class="inquiry-button">
                    <button type="button" th:if="${session.uniId != null}">물어보세요</button>
            </span>
            <div class="inquiry-modal">
                <div class="modal-main-img">
                    <img src="/img/main/timenotion.png" alt="">
                </div>
                <div class="inquiry-modal-nickname" th:text="'닉네임 : ' + ${session.userNickname}"></div>
                <form action="/community/inquiry/insertInquiry" method="post" class="inquiry-modal-form">
                    <div class="inquiry-modal-title">
                        <input type="text" name="inquiryTitle" placeholder="제목">
                        <span>
                                <select name="inquiryPublic">
                                    <option value="O">공개</option>
                                    <option value="X">비공개</option>
                                </select>
                        </span>
                    </div>
                    <div class="inquiry-modal-content">
                        <textarea name="inquiryContent" cols="10" rows="10" placeholder="내용" style="resize: none;"></textarea>
                    </div>
                    <div class="inquiry-modal-btns">
                        <button type="submit">등록</button>
                        <button type="button">닫기</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="inquiry-title-hr">
            <hr>
        </div>
    </div>
    <div class="inquiry-wrap2">
        <div class="inquiry-contents contents-form">
            <div class="contents-prev-content">
                <span class="contents-number">No</span>
                <span class="contents-title">제목</span>
            </div>
            <div class="contents-next-content">
                <span class="contents-writer">작성자</span>
                <span class="contents-date">작성일</span>
            </div>
        </div>
        <div class="inquiry-contents" th:each="inquiry : ${inquiries}">
            <div class="contents-prev-content">
                <span class="contents-number" th:text="${inquiry.inquiryId}">7</span>
                <span class="contents-title">
            <button type="button" class="inquiry-content-button" th:data-inquiryid="${inquiry.inquiryId}" th:data-userid="${inquiry.userId}" th:data-public="${inquiry.inquiryPublic}"
                    th:data-uniid="${session.uniId}" th:text="${inquiry.inquiryTitle}">

            </button>
        </span>
            </div>
            <div class="contents-next-content">
                <span class="contents-writer" th:text="${inquiry.nickname}">닉네임</span>
                <span class="contents-date" th:text="${#temporals.format(inquiry.inquiryCreatedDate, 'yyyy.MM.dd')}">2024.05.09</span>
            </div>
        </div>

        <!--            <div class="inquiry-contents">-->
        <!--                <div class="contents-prev-content">-->
        <!--                    <span class="contents-number">7</span>-->
        <!--                    <span class="contents-title">-->
        <!--                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>-->
        <!--                    </span>-->
        <!--                </div>-->
        <!--                <div class="contents-next-content">-->
        <!--                    <span class="contents-writer">닉네임</span>-->
        <!--                    <span class="contents-date">2024.05.09</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="inquiry-contents">-->
        <!--                <div class="contents-prev-content">-->
        <!--                    <span class="contents-number">7</span>-->
        <!--                    <span class="contents-title">-->
        <!--                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>-->
        <!--                    </span>-->
        <!--                </div>-->
        <!--                <div class="contents-next-content">-->
        <!--                    <span class="contents-writer">닉네임</span>-->
        <!--                    <span class="contents-date">2024.05.09</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="inquiry-contents">-->
        <!--                <div class="contents-prev-content">-->
        <!--                    <span class="contents-number">7</span>-->
        <!--                    <span class="contents-title">-->
        <!--                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>-->
        <!--                    </span>-->
        <!--                </div>-->
        <!--                <div class="contents-next-content">-->
        <!--                    <span class="contents-writer">닉네임</span>-->
        <!--                    <span class="contents-date">2024.05.09</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="inquiry-contents">-->
        <!--                <div class="contents-prev-content">-->
        <!--                    <span class="contents-number">7</span>-->
        <!--                    <span class="contents-title">-->
        <!--                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>-->
        <!--                    </span>-->
        <!--                </div>-->
        <!--                <div class="contents-next-content">-->
        <!--                    <span class="contents-writer">닉네임</span>-->
        <!--                    <span class="contents-date">2024.05.09</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="inquiry-contents">-->
        <!--                <div class="contents-prev-content">-->
        <!--                    <span class="contents-number">7</span>-->
        <!--                    <span class="contents-title">-->
        <!--                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>-->
        <!--                    </span>-->
        <!--                </div>-->
        <!--                <div class="contents-next-content">-->
        <!--                    <span class="contents-writer">닉네임</span>-->
        <!--                    <span class="contents-date">2024.05.09</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="inquiry-contents">-->
        <!--                <div class="contents-prev-content">-->
        <!--                    <span class="contents-number">7</span>-->
        <!--                    <span class="contents-title">-->
        <!--                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>-->
        <!--                    </span>-->
        <!--                </div>-->
        <!--                <div class="contents-next-content">-->
        <!--                    <span class="contents-writer">닉네임</span>-->
        <!--                    <span class="contents-date">2024.05.09</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="inquiry-contents">-->
        <!--                <div class="contents-prev-content">-->
        <!--                    <span class="contents-number">7</span>-->
        <!--                    <span class="contents-title">-->
        <!--                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>-->
        <!--                    </span>-->
        <!--                </div>-->
        <!--                <div class="contents-next-content">-->
        <!--                    <span class="contents-writer">닉네임</span>-->
        <!--                    <span class="contents-date">2024.05.09</span>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>
    <!--    <div class="inquiry-paging">-->
    <!--        <span class="paging-backward"><a href="#">&lt;</a></span>-->
    <!--        <span class="inquiry-paging-number"><a href="#">1</a></span>-->
    <!--        <span class="inquiry-paging-number"><a href="#">2</a></span>-->
    <!--        <span class="inquiry-paging-number"><a href="#">3</a></span>-->
    <!--        <span class="inquiry-paging-number"><a href="#">4</a></span>-->
    <!--        <span class="inquiry-paging-number"><a href="#">5</a></span>-->
    <!--        <span class="paging-forword"><a href="#">&gt;</a></span>-->
    <!--    </div>-->
    <div class="inquiryPage-container">
        <ul class="inquiryPage-box">
            <a th:href="@{/community/inquiry(inquiryPage=${inquiryPage.startPage - 1})}" class="inquiryPage-a" th:if="${inquiryPage.prev}">
                <li class="inquiryPage-num prev1">&lt</li>
            </a>

            <!--        th:block은 화면에 영향을 주지않는 가짜 태그
                        타임리프 문법을 사용하기 위해 만들어 쓴다.
            -->
            <th:block th:each="i : ${#numbers.sequence(inquiryPage.startPage, inquiryPage.endPage)}">
                <a th:href="@{/community/inquiry(inquiryPage=${i})}" class="inquiryPage-a">
                    <li class="inquiryPage-num" th:classappend="${i == inquiryPage.inquiryCriteria.inquiryPage ? 'active' : ''}" th:text="${i}"></li>
                </a>
            </th:block>

            <a th:href="@{/community/inquiry(inquiryPage=${inquiryPage.endPage + 1})}" class="inquiryPage-a" th:if="${inquiryPage.next}">
                <li class="inquiryPage-num next1">&gt</li>
            </a>
        </ul>
    </div>
    <!--    <div class="inquiry-banner banner">-->
    <!--        <div class="inquriy-banner-img">-->
    <!--            <a href="#"><img src="./../../img/community/community_banner2.png" alt="배너이미지"></a>-->
    <!--        </div>-->
    <!--        <div class="inquriy-banner-img">-->
    <!--            <a href="#"><img src="./../../img/community/community_banner3.png" alt="배너이미지"></a>-->
    <!--        </div>-->
    <!--        <div class="inquriy-banner-img">-->
    <!--            <a href="#"><img src="./../../img/community/community_banner4.png" alt="배너이미지"></a>-->
    <!--        </div>-->
    <!--        <div class="inquriy-banner-img">-->
    <!--            <a href="#"><img src="./../../img/community/community_banner5.png" alt="배너이미지"></a>-->
    <!--        </div>-->
    <!--        <div class="inquriy-banner-img">-->
    <!--            <a href="#"><img src="./../../img/community/community_banner6.png" alt="배너이미지"></a>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="inquiry-prev prev">&lt;</div>-->
    <!--    <div class="inquiry-next next">&gt;</div>-->
    <div id="inquiry-modal-answer" data-userid="${inquiry.userId}" th:each="inquiry : ${inquiries}" >
        <div class="modal-main-img">
            <img src="./../../img/main/timenotion.png" alt="">
        </div>
        <div class="inquiry-modal-answer-title-box">
            <span class="inquiry-modal-answer-title">문의 제목</span>
            <div class="inquiry-modal-answer-visibility">공개</div>
            <div class="inquiry-modal-answer-content">

            </div>
        </div>
        <div class="inquiry-modal-answer-answer">
            <p></p>
            <div class="inquiry-modal-answer-realAnswer">

            </div>
        </div>
        <div class="inquiry-modal-answer-btns">
            <button type="button" class="inquiry-modal-answer-delete">삭제</button>
            <button type="button" class="inquiry-modal-answer-exit">닫기</button>
        </div>
    </div>
</div>
<div th:replace="~{/fragment/footer::footer}"></div>
</body>

</html>