<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail_notification</title>
    <link rel="stylesheet" th:href="@{/css/community/notification-detail.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <script th:src="@{/js/community/notification-detail.js}"></script>
</head>
<body>
<div id="wrapper">
    <!-- 헤더~~!!!!!!!!!!!!!!!!!!! -->
    <div th:replace="~{/fragment/header::header}"></div>
    <!-- 헤더 끝-========================================================================== -->
    <main>
        <form id="noticeForm" method="post" th:action="@{/community/notification/notification-detail}" th:object="${NoticeVO}">
            <!-- 메인 컨텐츠 영역 -->
            <div class="container">
                <div class="container-title">
                    <h1>공지 작성</h1>
                </div>
                <!-- 1. 타이틀 -->
                <input class="notification-title" maxlength="44" name="noticeTitle">
                <span id="titleError" class="error"></span>
                <hr>
                <!-- 3. 파일추가 / 텍스트영역 -->
                <div class="wrapper-add-text">
                    <!-- 3-1. 텍스트 영역 -->
                    <textarea id="textarea" name="noticeContent" maxlength="600"></textarea>
                    <span id="contentError" class="error"></span>
                </div>
                <!-- 4. 저장 / 취소 버튼 -->
                <div class="save-cancel-button">
                    <button type="submit" class="save">저장</button>
                    <button type="button" class="cancel" onclick="window.history.back();">취소</button>
                </div>
            </div>
        </form>
    </main>
    <div th:replace="~{/fragment/footer::footer}"></div>
</div>
</body>
</html>
