<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 문의</title>
    <link rel="stylesheet" href="./../../css/reset.css">
    <link rel="stylesheet" href="./../../css/notion.css">
    <link rel="stylesheet" href="./../../css/community/ask.css">
    <script defer src="./../../js/community/ask.js"></script>
    <script defer src="./../../js/fragment/headerFetch.js"></script>
    <script defer src="./../../js/fragment/footerFetch.js"></script>
</head>

<body>
    <header></header>
    <div class="inquiry-container container">
        <div class="inquiry-wrap1">
            <div class="inquiry-selector">
                <span class="notification-title">
                    <button type="button" onClick="location.href='notification.html'">공지</button>
                </span>
                <span class="inquiry-title">
                    <button type="button">문의</button>
                </span>
                <div class="inquiry-modal">
                    <div class="modal-main-img">
                        <img src="./../../img/main/timenotion.png" alt="">
                    </div>
                    <div class="inquiry-modal-nickname">
                        작성자 : 닉네임
                    </div>
                    <form action="#">
                        <div class="inquiry-modal-title">
                            <input type="text" name="inquiry-modal-title" placeholder="제목">
                            <span>
                                <select name="inquiry-modal-select">
                                    <option value="visible">공개</option>
                                    <option value="invisible">비공개</option>
                                </select>
                            </span>
                        </div>
                        <div class="inquiry-modal-content">
                            <textarea name="inquiry-modal-content" cols="50" rows="10" placeholder="내용" style="resize: none;"></textarea>
                        </div>
                        <div class="inquiry-modal-btns">
                            <button type="submit">등록</button>
                            <button type="button">닫기</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="inquiry-title-hr">
                <hr>
            </div>
        </div>
        <div class="inquiry-wrap2">
            <div class="inquiry-contents contents-form">
                <div class="contents-prev-content">
                    <span class="contents-number">No</span>
                    <span class="contents-title">제목</span>
                </div>
                <div class="contents-next-content">
                    <span class="contents-writer">작성자</span>
                    <span class="contents-date">작성일</span>
                </div>
            </div>
            <div class="inquiry-contents">
                <div class="contents-prev-content">
                    <span class="contents-number">7</span>
                    <span class="contents-title">
                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>
                        <span class="contents-open">공개</span>
                    </span>
                </div>
                <div class="contents-next-content">
                    <span class="contents-writer">닉네임</span>
                    <span class="contents-date">2024.05.09</span>
                </div>
            </div>
            <div class="inquiry-contents">
                <div class="contents-prev-content">
                    <span class="contents-number">7</span>
                    <span class="contents-title">
                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>
                        <span class="contents-closed">비공개</span>
                    </span>
                </div>
                <div class="contents-next-content">
                    <span class="contents-writer">닉네임</span>
                    <span class="contents-date">2024.05.09</span>
                </div>
            </div>
            <div class="inquiry-contents">
                <div class="contents-prev-content">
                    <span class="contents-number">7</span>
                    <span class="contents-title">
                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>
                        <span class="contents-open">공개</span>
                    </span>
                </div>
                <div class="contents-next-content">
                    <span class="contents-writer">닉네임</span>
                    <span class="contents-date">2024.05.09</span>
                </div>
            </div>
            <div class="inquiry-contents">
                <div class="contents-prev-content">
                    <span class="contents-number">7</span>
                    <span class="contents-title">
                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>
                        <span class="contents-closed">비공개</span>
                    </span>
                </div>
                <div class="contents-next-content">
                    <span class="contents-writer">닉네임</span>
                    <span class="contents-date">2024.05.09</span>
                </div>
            </div>
            <div class="inquiry-contents">
                <div class="contents-prev-content">
                    <span class="contents-number">7</span>
                    <span class="contents-title">
                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>
                        <span class="contents-open">공개</span>
                    </span>
                </div>
                <div class="contents-next-content">
                    <span class="contents-writer">닉네임</span>
                    <span class="contents-date">2024.05.09</span>
                </div>
            </div>
            <div class="inquiry-contents">
                <div class="contents-prev-content">
                    <span class="contents-number">7</span>
                    <span class="contents-title">
                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>
                        <span class="contents-closed">비공개</span>
                    </span>
                </div>
                <div class="contents-next-content">
                    <span class="contents-writer">닉네임</span>
                    <span class="contents-date">2024.05.09</span>
                </div>
            </div>
            <div class="inquiry-contents">
                <div class="contents-prev-content">
                    <span class="contents-number">7</span>
                    <span class="contents-title">
                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>
                        <span class="contents-open">공개</span>
                    </span>
                </div>
                <div class="contents-next-content">
                    <span class="contents-writer">닉네임</span>
                    <span class="contents-date">2024.05.09</span>
                </div>
            </div>
            <div class="inquiry-contents">
                <div class="contents-prev-content">
                    <span class="contents-number">7</span>
                    <span class="contents-title">
                        <button type="button" class="inquiry-content-button">우리 모두 화이팅^^~</button>
                        <span class="contents-closed">비공개</span>
                    </span>
                </div>
                <div class="contents-next-content">
                    <span class="contents-writer">닉네임</span>
                    <span class="contents-date">2024.05.09</span>
                </div>
            </div>
        </div>
        <div class="inquiry-paging">
            <span class="paging-backward"><a href="#">&lt;</a></span>
            <span class="inquiry-paging-number"><a href="#">1</a></span>
            <span class="inquiry-paging-number"><a href="#">2</a></span>
            <span class="inquiry-paging-number"><a href="#">3</a></span>
            <span class="inquiry-paging-number"><a href="#">4</a></span>
            <span class="inquiry-paging-number"><a href="#">5</a></span>
            <span class="paging-forword"><a href="#">&gt;</a></span>
        </div>
        <div class="inquiry-banner banner">
            <div class="inquriy-banner-img">
                <a href="#"><img src="./../../img/community/community_banner2.png" alt="배너이미지"></a>
            </div>
            <div class="inquriy-banner-img">
                <a href="#"><img src="./../../img/community/community_banner3.png" alt="배너이미지"></a>
            </div>
            <div class="inquriy-banner-img">
                <a href="#"><img src="./../../img/community/community_banner4.png" alt="배너이미지"></a>
            </div>
            <div class="inquriy-banner-img">
                <a href="#"><img src="./../../img/community/community_banner5.png" alt="배너이미지"></a>
            </div>
            <div class="inquriy-banner-img">
                <a href="#"><img src="./../../img/community/community_banner6.png" alt="배너이미지"></a>
            </div>
        </div>
        <div class="inquiry-prev prev">&lt;</div>
        <div class="inquiry-next next">&gt;</div>
        <div id="inquiry-modal-answer">
            <div class="modal-main-img">
                <img src="./../../img/main/timenotion.png" alt="">
            </div>
            <div class="inquiry-modal-answer-title-box">
                <span class="inquiry-modal-answer-title">문의 제목</span>
                <div class="inquiry-modal-answer-visibility">공개</div>
                <div class="inquiry-modal-answer-content">
                    물결이 부서지는 바다 위에 서서, 나는 먼 해안을 바라보고 있었다. 바람이 내 머리칼을 쓸고 지나가면서 자유로움의 느낌이 내 몸 전체를 감싸안았다.
                </div>
            </div>
            <div class="inquiry-modal-answer-answer">
                <p>답변</p>
                <div class="inquiry-modal-answer-realAnswer">
                    답변 전
                </div>
                <div class="inquiry-modal-modify">
                    <textarea cols="40" rows="20" name="" placeholder="답변을 입력하세요"></textarea>
                </div>
                <div class="inquiry-modal-answer-btns">
                    <button type="button" class="inquiry-modal-answer-comment">답변달기</button>
                    <button type="button" class="inquiry-modal-answer-modify" style="display: none;">수정</button>
                    <button type="button" class="inquiry-modal-answer-exit">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>

</html>