body{
  margin : 0;
  padding : 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}
/* =====================main================= */
main{
  flex-direction: column;
 align-items: center;
} 
/* ===================header================ */
/* header {
  text-align: center; 내부 요소들을 가운데로 정렬
  height: 140px;
  width: 100%;
  background-color: #e5f2f7;
} */

/* ==================최상단 */
.top{
  margin-top: 110px;
  margin-bottom: 90px;
  text-align: center;
  font-size: 40px;
  font-weight: bold
}
.id{
  font-size: 15px;
  /* background-color: grey; */
}

.textId{
  margin-bottom: 20px;
}
/* 아이디 비밀번호 입력칸 */
.textId > input{
  margin-top: 10px;
  /*margin-bottom: 30px;*/
  background-color: rgb(242, 242, 246);
  /* border: none; */
  border: 1px solid gray;
  border-radius: 5px;
  width: 350px;
  height: 50px;
  padding-left: 15px;
  
}

.textId > input::placeholder{
  color: rgb(192, 190, 187);
}

.textPassword > input{
  margin-top: 6px;
  margin-bottom: 13px;
  background-color: rgb(242, 242, 246);
  /* border: none; */
  border: 1px solid gray;
  border-radius: 5px;
  width: 350px;
  height: 50px;
  padding-left: 15px;
}

.textPassword > input::placeholder{
  color: rgb(192, 190, 187);
}

.password-find{
  margin-top: 10px;
  /* background-color: aqua; */
  text-align: right;

}

.password-find > a{
  font-size: 12px;
  color: rgb(120, 116, 116);
  font-weight: 100;
}

.login{
  margin-top: 50px;
}

/* 로그인 버튼 */
#gomain{
  width: 350px;
  height: 50px;
  background-color: #102C57;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
}

.login > button:hover{
  background-color: #1f4072;
}

.kakao-login > button{
  margin-top: 15px;
  width: 350px;
  height: 50px;
  background-color: #FEE500;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
}

.kakao-login > button:hover{
  background-color: #e6d32c;
}

/* 회원가입으로 이동 */
.move-join{
  margin-top: 90px;
  margin-bottom: 232px;
  text-align: center;
}

.move-join > span{
  margin-right: 15px;
  font-size: 15px;
  color: rgb(151, 149, 147);
}
.move-join > a{
  margin-right: 15px;
  font-size: 15px;
  color: rgb(151, 149, 147);
}


/* 1. footer ------------------------------------------- */
.form-yundam{
  text-align: center;
  display: flex;
  justify-content: center;
}
.wrapper-yundam{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

