header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
/*  background-color: #e5f2f7;*/
  background-color: #fcfaf7;
}
.header-wrapper {
  max-width: 1000px;
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

/* 헤더 왼쪽 ----------------------------------- */
.header-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo-box {
  width: 130px;
  height: 55px;
  margin-top: 35px;
}
.logo-box img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}
/* 카테고리 ---------------------------------------- */
.category-box {
  display: flex;
  margin-left: 40px;
}
.category-box ul {
  display: flex;
  padding-top: 40px;
}
.category-box li {
  padding: 18px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.category-box a {
  color: black;
}
.category-box li:hover {
  cursor: pointer;
  /* background-color: #76adc32f; */
  border-radius: 6px;
  transform: scale(1.2) rotate(3deg);
}

/* 헤더 오른쪽 ---------------------------------------------- */
.header-right {
  display: flex;
  white-space: nowrap;
  padding-top: 30px;
  font-size: 10px;
  font-weight: 400;
}
.header-img-box {
  height: 30px;
  width: 40px;
}
.header-img-box img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
/* 로그인 전  */
.login-box {
  margin-right: 6px;
  padding: 8px 6px;
}
.login-box:hover {
  cursor: pointer;
  background-color: #76adc32f;
  border-radius: 6px;
}

.regist-box {
  padding: 8px 6px;
}
.regist-box:hover {
  cursor: pointer;
  background-color: #76adc32f;
  border-radius: 6px;
}
.login-wrap {
  color: rgb(33, 30, 30);
}
.regist-wrap {
  color: black;
}
/* 로그인 후  */

.logout-box {
  padding: 8px 6px;
  /*display: none; !* 이거 풀면 나오요!!!! *!*/
}

.logout-box:hover {
  cursor: pointer;
  background-color: #76adc32f;
  border-radius: 6px;
}
.logout-wrap {
  color: #848484;
}

.logout-img-box {
  height: 30px;
  width: 40px;
  align-content: center;
}
.logout-img-box > img {
  width: 45%;
  height: 60%;
  /*object-fit: cover;*/
}

.hd-underline{
  border-bottom: 1px solid skyblue;
}