<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="{/css/user/passwordFind.css}" />
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <script defer th:src="@{/js/user/passwordFind.js}"></script>
  </head>
  <body>



  <div th:replace="~{/fragment/header::header}"></div>
<!-- 전체 감싼 코드 -->
    <div id="wrapper">

      <main>
        <!-- 컨테이너 -->
        <div class="find-pw-container">
          <div class="password-find">
            <p class="title">비밀번호 찾기</p>
            <p class="text">가입시 입력한 이메일 주소를 입력해주세요</p>
<!--            <div class="email">-->
<!--              <input id="find-input" type="text" placeholder="이메일 주소를 입력해주세요">-->
<!--              <button class="find-button" id="checkEmail">인증하기</button>-->

<!--            이메일 html -->
            <div class="form-group last mb-4 email_input">
              <label for="memail" id="mailTxt">이메일을 입력해주세요</label>
              <input type="text" class="form-control" name="memail" id="memail">
            </div>
            <!-- <span>이메일 인증번호</span> -->
            <button class="btn btn-outline-primary" type="button" id="checkEmail">인증번호</button>


            <div class="form-group last mb-4 check_input">
              <label for="memailconfirm" id="memailconfirmTxt">인증번호를 입력해주세요</label>
              <input type="text" class="form-control" id="memailconfirm">
            </div>


<!--            </div>-->
            <p id="find-result"></p>
          </div>
        </div>
      </main>

      <div th:replace="~{/fragment/footer::footer}"></div>
    </div>








  </body>
</html>
