<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./../../css/fragment/footer.css">
  <link rel="stylesheet" href="./../../css/notion.css">
  <link rel="stylesheet" href="./../../css/reset.css">
  <link rel="stylesheet" href="/css/fragment/footer.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <title>footer</title>


</head>
<!-- 헤더~~!!!!!!!!!!!!!!!!!!! -->
<body>



<footer>
  <div class="footer-wrapper">
    <!-- 상단 링크박스 --------------- -->
    <div class="ft-linkbox">
      <ul class="ft-linkbox-ul">
        <li><a href="./../../HTML/main/about.html">회사소개</a></li>
        <li><a href="./../../HTML/community/terms-of-service.html">이용약관</a></li>
        <li><a href="./../../HTML/community/notification.html">공지사항</a></li>
        <li><a href="./../../HTML/community/privacy-policy.html">개인정보 처리방침</a></li>
        <li><a href="./../../HTML/community/inquiry.html">고객문의</a></li>
      </ul>
    </div>
    <div class="underline"></div>
    <!-- 하단 정보 ------------------ -->
    <div class="ft-info">
      <!-- 왼쪽 -->
      <div class="ft-info-left">
        <div>타임노션</div>
        <div>
          대표 : 근근한잔 | 서울시 강남구 역삼동 테헤란로 어딘가 | 사업자등록번호 334-22-9987
        </div>
        <div>Email : geungeun-one-shot@gmail.com</div>
        <div>추억을 기록하는 사이트, 무언가 제법 있어보이는 사이트</div>
        <div class="ft-box1">운영시간 : 월~금 09:00 ~ 18:00</div>
      </div>
      <!-- 가운데 -->
      <div class="ft-info-middle">
        <div class="ft-call-number">고객센터 1588-1122</div>
        <div class="ft-call-time">운영시간 : 월~금 09:00 ~ 18:00, 주말 휴무</div>
        <div class="title-sns">Company SNS</div>
        <div class="box-sns">
          <a href="#"
          >
            <div class="sns"><span>instagram</span></div>
          </a
          >
          <a href="#"
          >
            <div class="sns"><span>facebook</span></div>
          </a
          >
          <a href="#"
          >
            <div class="sns"><span>kakao</span></div>
          </a
          >
        </div>
      </div>
      <!-- 오른쪽 -->
      <div class="ft-info-right"></div>
    </div>
  </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>