<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="./../../css/notion.css">-->
    <link rel="stylesheet" href="./../../css/reset.css">
<!--    <link rel="stylesheet" href="/css/fragment/header.css">-->
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>header</title>

</head>
<!-- 헤더~~!!!!!!!!!!!!!!!!!!! -->
<body>
<header>
    <div class="header-wrapper">
        <div class="header-left">
            <div class="logo-box">
                <a href="../main">
<!--                    <img src="./../../img/main/timenotion.png" alt="로고 사진 넣어주세요"/>-->
                    <img th:src="@{/img/main/timeNotion3.png}" alt="로고 사진 넣어주세요"/>
                </a>
            </div>
            <div class="category-box">
                <ul>
                    <li><a th:href="@{/main/about}">about</a></li>
                    <li><a th:href="@{/myLife}">나의 일대기</a></li>
                    <li><a th:href="@{/yourLife}">너의 일대기</a></li>
                    <li><a th:href="@{/everyLife}">모두의 일대기</a></li>
                    <li><a th:href="@{/community/notification}">커뮤니티</a></li>
                </ul>
            </div>
        </div>
        <div class="header-right">
            <!-- 로그인 전 ----------- -->
            <div th:if="${session.uniId == null}" class="login-box">
                <a th:href="@{/user/login}" class="login-wrap">
<!--                    <div class="header-img-box"><img src="./../../img/main/로그인.png" alt=""/></div>-->
<!--                    <div class="header-img-box"><img th:src="@{/img/main/로그인.png}" alt=""/></div>-->

                    <span>로그인</span>
                </a>
            </div>
            <div class="regist-box" th:if="${session.uniId == null}">
                <a th:href="@{/user/join}" class="regist-wrap">
<!--                    <div class="header-img-box"><img src="./../../img/main/회원가입.png" alt=""/></div>-->
<!--                    <div class="header-img-box"><img th:src="@{/img/main/회원가입.png}" alt=""/></div>-->
                    <span>회원가입</span>
                </a>
            </div>
            <!-- 로그인 후 ------------ .logout-box : display : none -->
            <div th:if="${session.uniId != null}" class="logout-box">
                <a th:href="@{/user/logout}" class="logout-wrap">
<!--                    <div class="logout-img-box"><img src="./../../img/main/로그아웃.png" alt=""/></div>-->
<!--                    <div class="logout-img-box"><img th:src="@{/img/main/로그아웃.png}" alt=""/></div>-->

                    <span>로그아웃</span>
                </a>
            </div>
            <div th:if="${session.uniId != null}" class="logout-box">

                    <!--                    <div class="logout-img-box"><img src="./../../img/main/로그아웃.png" alt=""/></div>-->
                    <!--                    <div class="logout-img-box"><img th:src="@{/img/main/로그아웃.png}" alt=""/></div>-->

                    <span th:text="${session.userNickname} + '님'">로그아웃</span>
            </div>
        </div>
    </div>
</header>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>
<!-- 헤더 끝-========================================================================== -->