<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사용자의 일대기</title>
  <link rel="stylesheet" th:href="@{/css/myLife/userpage.css}">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <script defer th:src="@{/js/myLife/userpage.js}"></script>
  <script defer th:src="@{/js/myLife/life-profile-back.js}"></script>

</head>

<body>
<!-- 헤더 -->
<div th:replace="~{/fragment/header :: header}"></div>
<!-- 헤더 끝 -->

<main>
  <input type="hidden" id="uniId" th:value="${userInfo.uniId}">
  <div class="container">
    <div class="first-container">
      <div class="profile-background">
        <div class="profile-background-dark"></div>
        <!-- 배경 이미지 -->
        <div class="profile-bg-img-box">
        </div>
        <div class="profile">
          <!-- 프로필 이미지 -->
          <div class="profile-img-box">
          </div>
          <div class="profile-detail">

            <p style="display: none" id="get-user-id" th:text="${follow != null ? follow.uniId : ''}">ㄹㄹㄹ</p>
            <p style="display: none" id="get-user-status" th:text="${followStatus}"></p>

            <p id="profile-nickname" th:text="${follow != null ? follow.nickname : ''}">장윤근</p>
            <p>
              <span class="follower-number" th:text="${follwingCNT != null ? follwingCNT : '0'}">36</span>
              <span class="follower">팔로워</span>
            </p>
            <p>
              <span class="follower-number" th:text="${followerCNT != null ? followerCNT : '0'}">128</span>

              <span class="follower">팔로잉</span>
            </p>
            <p class="profile-heart">
              <img src="/img/myLife/mdj-heart_negative.png" alt="하투" class="detail_page_heart" id="heart-image">
            </p>
          </div>
        </div>
      </div>
      <div class="profile-text">
        <div class="profile-introduce">
          <p th:text="${about != null ? about.uniAbout : '-'}"></p>
        </div>
      </div>
    </div>
    <hr>
    <!-- 유아기 유년기 아동기 청소년기 성인 중년 노년 -->
    <div class="third-container">
      <div class="third-container-category">
        <div class="everyLife-btn-span">
          <button id="infancyBtn" type="button" value="유아기" onclick="filterByLifeCycle('유아기')">유아기</button>
        </div>
        <div class="everyLife-btn-span">
          <button id="childhoodBtn" type="button" value="유년기" onclick="filterByLifeCycle('유년기')">유년기</button>
        </div>
        <div class="everyLife-btn-span">
          <button id="juvenileBtn" type="button" value="아동기" onclick="filterByLifeCycle('아동기')">아동기</button>
        </div>
        <div class="everyLife-btn-span">
          <button id="teenBtn" type="button" value="청소년기" onclick="filterByLifeCycle('청소년기')">청소년기</button>
        </div>
        <div class="everyLife-btn-span">
          <button id="adultBtn" type="button" value="청년기" onclick="filterByLifeCycle('청년기')">청년기</button>
        </div>
        <div class="everyLife-btn-span">
          <button id="middleAgeBtn" type="button" value="중년기" onclick="filterByLifeCycle('중년기')">중년기</button>
        </div>
        <div class="everyLife-btn-span">
          <button id="oldAgeBtn" type="button" value="노년기" onclick="filterByLifeCycle('노년기')">노년기</button>
        </div>
      </div>
    </div>
    <div class="fourth-container">
      <div class="list">
        <div th:each="board : ${boardPage}" class="list-one">
          <a th:href="@{/myLife/detail-my(boardId=${board.boardId})}">
            <div class="list-one-detail">
              <div class="title">
                <h3 th:text="${board.boardTitle}"></h3>
                <p th:text="|조회수 : ${board.boardViewCount}|"></p>
              </div>
              <div class="list-date">
                <p th:text="|작성일 : ${#temporals.format(board.boardCreatedDate, 'yy년 M월 d일 ')}|"></p>
              </div>
              <div class="list-text">
                <p th:text="${board.boardContent}"></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- 페이징 처리 -->
    <th:block th:if="${boardLifeCycle == null}">
    <div class="everyLife-paging">
      <ul class="paging-backward">
        <a th:href="@{|/yourLife/userpage/${uniId}?page=${page.startPage - 1}|}" class="page-a" th:if="${page.prev}">&lt;</a></ul>
      <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
        <a th:href="@{|/yourLife/userpage/${uniId}?page=${i}|}" class="page-a">
          <li class="page-num" th:classappend="${i == page.criteria.page ? 'active' : ''}" th:text="${i}"></li>
        </a>
      </th:block>
      <a th:href="@{|/yourLife/userpage/${uniId}?page=${page.endPage + 1}|}" class="page-a" th:if="${page.next}">
        <li class="page-num next">&gt</li>
      </a>
    </div>
    </th:block>

    <th:block th:if="${boardLifeCycle != null}">
      <div class="everyLife-paging">
        <ul class="paging-backward">
          <a th:href="@{|/yourLife/userpage/${uniId}/${boardLifeCycle}?page=${page.startPage - 1}|}" class="page-a" th:if="${page.prev}">&lt;</a></ul>
        <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
          <a th:href="@{|/yourLife/userpage/${uniId}/${boardLifeCycle}?page=${i}|}" class="page-a">
            <li class="page-num" th:classappend="${i == page.criteria.page ? 'active' : ''}" th:text="${i}"></li>
          </a>
        </th:block>
        <a th:href="@{|/yourLife/userpage/${uniId}/${boardLifeCycle}?page=${page.endPage + 1}|}" class="page-a" th:if="${page.next}">
          <li class="page-num next">&gt</li>
        </a>
      </div>
    </th:block>
    <!-- /페이징 처리 -->
  </div>
</main>
<div th:replace="~{/fragment/footer::footer}"></div>
</body>

</html>
