<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>너의일대기</title>
    <link rel="stylesheet" th:href="@{/css/yourLife/yourLife.css}"/>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>


</head>

<body>
<div th:replace="~{/fragment/header::header}"></div>
<div id="wrapper">


    <main>
        <div>
            <div class="container">
                <!-- 1. 타이틀 글자 부분 -->
                <div class="title-text-wrapper">
                    <div class="title-your">너의 일대기</div>
                    <div class="title-sub">팔로우한 사람들의 일대기를 둘러보세요!</div>
                    <div class="underline"></div>
                </div>
                <!-- 2. 팔로잉 / 팔로워 wrapper -->
                <div class="wrapper-follows">
                    <!-- 2-1. 팔로워 followers ====================================-->
                    <div class="flwers-wrapper">
                        <div class="title">팔로워</div>


                        <!--☆★☆★☆★☆★ 이 박스가 한 개 ☆★☆★☆★☆★-->
                        <div class="flwers-box" th:each=" follow : ${followers}">
                            <!-- 2-1-1. 왼쪽 -->
                            <!-- 팔로워는 나를 누군가가 팔로우한 상태를 뜻한다 -->
                            <div class="flwers-left">

                                <a th:href="@{/yourLife/userpage/{userId}(userId=${follow.followerId})}">
                                    <input type="hidden" id="followerId" name="followerId" th:text="follow.followers">
                                    <div class="flwers-img-box">
                                        <img th:src="${follow.userFileProfileSource}" alt=""/>


                                    </div>
                                    <div class="flwers-nick-count-box">
                                        <div>
                                            <span class="nickname" th:text="${follow.userNickname}">nickname</span>
                                        </div>
                                        <div class="count-box">
                                            <span class="life-count bold"></span><span>팔로워</span>

                                            <span class="follower-count bold"
                                                  th:text="${follow.followingCount}">105</span>

                                            <span class="life-count bold"></span><span>팔로잉</span>
                                            <span class="follower-count bold"
                                                  th:text="${follow.followerCount}">105</span>

                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- 2-1-2. 오른쪽 : 채팅버튼-->
                            <!--                <div class="followers-right">-->
                            <!--                  <div class="chat-box"><button>채팅</button></div>-->
                            <!--                </div>-->
                        </div>
                        <!-- ☆★☆★☆★☆★☆★☆★ -->

                    </div>

                    <!-- 2-2. 팔로잉 following ====================================-->
                    <div class="flwers-wrapper">
                        <div class="title">팔로잉</div>
                        <!--  ☆★☆★☆★☆★ 이 박스가 한 개 ☆★☆★☆★☆★-->
                        <!--  팔로잉은 내가 그사람을 팔로우 했을때 값이 증가한다-->
                        <div class="flwers-box" th:each=" following : ${followings}">
<!--                            2-1-1. 왼쪽-->
                            <div class="flwers-left">

                                <a th:href="@{/yourLife/userpage/{userId}(userId=${following.followerId})}">

                                    <div class="flwers-img-box">
                                        <img th:src="@{${following.userFileProfileSource}}" alt=""/>

                                    </div>
                                    <div class="flwers-nick-count-box">
<!--                                        <span class="nickname" th:text="${following.userNickname}">nickname</span>-->
<!--                                        <div class="count-box" th:each=" board : ${boards}">-->
<!--&lt;!&ndash;                                            <span>일기</span><span class="life-count bold" th:text="${board.boardCount}">25</span><span>팔로워</span>&ndash;&gt;-->
<!--                                        <span class="follower-count bold"-->
<!--                                               th:text="${following.followerCount}">105</span>-->
<!--                                        </div>-->
                                        <div>
                                            <span class="nickname" th:text="${following.userNickname}">nickname</span>
                                        </div>
                                        <div class="count-box">
                                            <span class="life-count bold"></span><span>팔로워</span>

                                            <span class="follower-count bold"
                                                  th:text="${following.followingCount}">105</span>

                                            <span class="life-count bold"></span><span>팔로잉</span>
                                            <span class="follower-count bold"
                                                  th:text="${following.followerCount}">105</span>

                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- 2-1-2. 오른쪽 : 채팅버튼-->
                            <!--                <div class="followers-right">-->
                            <!--                  <div class="chat-box"><button>채팅</button></div>-->
                            <!--                </div>-->
                        </div>
                        <!-- ☆★☆★☆★☆★☆★☆★ -->

                    </div>
                    </div>


                </div>
                <!-- ======================================================= -->
                <!--           3. 페이지네이션-->

                <!--          -->
            </div>
    </main>
    <!--      <div class="page-container">-->
    <!--        <ul class="page-box">-->
    <!--          <a th:href="@{/yourLife/(page=${page.startPage - 1})}" class="page-a" th:if="${page.prev}">-->
    <!--            <li class="page-num prev"> < </li>-->
    <!--          </a>-->

    <!--          <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">-->
    <!--            <a th:href="@{/yourLife(page=${i})}" class="page-a">-->
    <!--              <li class="page-num" th:classappend="${i == page.followCriteria.page ? 'active' : ''}" th:text="${i}"></li>-->
    <!--            </a>-->
    <!--          </th:block>-->

    <!--          <a th:href="@{/yourLife(page=${page.endPage + 1})}" class="page-a" th:if="${page.next}">-->
    <!--            <li class="page-num next"> > </li>-->
    <!--          </a>-->
    <!--        </ul>-->
    <!--      </div>-->
    <div th:replace="~{/fragment/footer::footer}"></div>
</div>
</body>
</html>
