<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>비밀번호 바꾸기</title>
  <link rel="stylesheet" href="./../../css/user/changePassword.css" />
  <link rel="stylesheet" href="./../../css/reset.css" />
  <link rel="stylesheet" href="./../../css/notion.css">
  <script defer src="./../../js/user/changePassword.js"></script>
  <script defer src="./../../js/fragment/headerFetch.js"></script>
  <script defer src="./../../js/fragment/footerFetch.js"></script>
</head>

<body>



<div th:replace="~{/fragment/header::header}"></div>
  <!-- 전체 감싼 코드 -->
  <div id="wrapper">

    <main>
      <!-- 컨테이너 -->
      <div class="changePassword-container">
        <div class="password-find">
          <p class="title">비밀번호 찾기</p>
          <p class="text">새 비밀번호를 입력해주세요</p>

          
          <!-- 비밀번호 -->
          <div class="password">
            <p id="password-paragraph"></p>
            <input id="password-input" type="password" placeholder="비밀번호">
            <p id="password-result"></p>
          </div>
          <!-- 비밀번호 확인 -->
          <div class="password">
            <p id="passwordcheck-paragraph"></p>
            <input id="passwordcheck-input" type="password" placeholder="비밀번호 확인">
            <p id="passwordcheck-result"></p>
          </div>
          <!-- 인증버튼 -->

          <div class="submit">
            <a href="./login.html">
              <button class="submit2">완료</button>
            </a>
          </div>

        </div>
      </div>
    </main>

    <div th:replace="~{/fragment/footer::footer}"></div>
  </div>








</body>

</html>