<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>

  <link rel="stylesheet" th:href="@{/css/user/join.css}" />
  <link rel="stylesheet" th:href="@{/css/reset.css}" />
  <link rel="stylesheet" th:href="@{/css/notion.css}">
  <script defer th:src="@{/js/user/join.js}"></script>

</head>

<body>



<div th:replace="~{/fragment/header::header}"></div>
  <!-- 전체 감싸기 -->
  <div id="wrapper">

   
    <!--==================== header ============== -->
   
    <!-- ==========main -->
    <main>
      <form action="/user/join" method="post">
      <div class="join-real-container">

      <div class="join-banner">
      <p id="join-banner-p">회원가입</p>
      <!-- 이름 -->
      <div class="name">
        <p id="name-paragraph">이름</p>
          <input type="text" id="name-input" name="userName" placeholder="이름을 입력해주세요">
          <p id="name-result"></p>
      </div>
      <!-- 전화번호     -->
      <div class="phone">
        <p id="phone-paragraph">전화번호</p>
          <input type="text" id="phone-input" name="userPhone" placeholder="전화번호를 입력해주세요 ex)01012345678">
          <p id="phone-result"></p>
      </div>
      <!-- 비밀번호 -->
      <div class="password">
        <p id="join-password-paragraph">비밀번호</p>
          <input id="join-password-input" name="userPassword" type="password" placeholder="영문,숫자포함 8자 이상으로 입력해주세요">
        <p id="join-password-result"></p>
      </div>
      <!-- 비밀번호 확인 -->
      <div class="password">
        <p id="join-passwordcheck-paragraph">비밀번호 확인 </p>
          <input id="join-passwordcheck-input" type="password" placeholder="영문,숫자포함 8자 이상으로 입력해주세요">
        <p id="join-passwordcheck-result"></p>
      </div>
      <!-- 이메일 --> <!-- 아이디 -->
      <div class="email">
        <p id="email-paragraph">이메일</p>
        <div class="email-text">
          <input id="email-input" name="userEmail" type="text" placeholder="아이디를 입력해주세요">
          <button type="button" id="email-button">중복 확인</button>
        </div>
        <p id="email-result"></p>
      </div>
      <!-- 닉네임 -->
      <div class="nickname">
        <p id="join-nickname-paragraph">닉네임</p>
        <div class="nickname-text">
          <input id="join-nickname-input" name="userNickname" type="text" placeholder="아이디를 입력해주세요">
          <button id="join-nickname-button" type="button">중복 확인</button>
        </div>
        <p id="join-nickname-result"></p>
      </div>
      
      <!-- 연락처 -->
      <!-- <div class="id">
        <p>연락처</p>
        <div class="id-text">
          <input type="text" placeholder="연락처를 입력해주세요">
          <button>인증 하기</button>
        </div>
      </div> -->
      <!-- 생년월일 -->
      <!-- <div class="birth">
        <p>생년월일</p>
        <div class="birth-text">
          <div>
            <input class="edit-birth-year" type="text"  placeholder="ex)1999" oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="4">년
          </div>
          <div class="month">
            <select name="month" class="edit-birth-month">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>월
          </div>
          <div class="day">
            <select class="edit-birth-day" name="day">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="12">13</option>
              <option value="12">14</option>
              <option value="12">15</option>
              <option value="12">16</option>
              <option value="12">17</option>
              <option value="12">18</option>
              <option value="12">19</option>
              <option value="12">20</option>
              <option value="12">21</option>
              <option value="12">22</option>
              <option value="12">23</option>
              <option value="12">24</option>
              <option value="12">25</option>
              <option value="12">26</option>
              <option value="12">27</option>
              <option value="12">28</option>
              <option value="12">29</option>
              <option value="12">30</option>
              <option value="12">31</option>
            </select>일
          </div>
        </div>
      </div>
      <hr> -->

        <!-- 생년월일 -->
        <div class="edit-birth-box">
          <p id="edit-birth-paragraph">생년월일</p>
          <div>
            <input name="userBirth" class="edit-birth-year" type="text" placeholder="ex)1999" oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="4">년
            <select name="month" class="edit-birth-month">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>월
            <select class="edit-birth-day" name="day">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>일
          </div>
          <p id="edit-birth-result"></p>
        </div>

        <hr class="edit-hr-birth">
      <!-- 이용약관 -->
      <div class="agree">
        <div class="agree-container">
          <input type="checkbox" id="check_all" ><span>모든 약관을 전체동의 합니다.</span>
          <p>(전체 동의는 필수 및 선택 정보에 대한 동의가 포함되어 있습니다)</p>
        </div>
        <hr id="hr">

        <div class="agree-container1">
          <input type="checkbox" class="check" required ><span><a th:href="@{/main/terms}">이용약관 동의 (필수)</a></span>
        </div>
        <p class="required-message"></p>


        <div class="agree-container2">
          <input type="checkbox"  class="check" required ><span><a th:href="@{/main/privacy}">개인정보 수집 및 이용 동의 (필수)</a></span>
        </div>
        <p class="required-message2"></p>

        <div class="agree-container2">
          <input type="checkbox"  class="check"><span>광고 수신 동의 (선택)</span>
        </div>
      </div>
      <!-- <! 회원가입 버튼 -->

      <div class="login">
        <button class="join" type="submit">회원가입</button>
      </div> 


      <!-- 이용약관


      <! 로그인으로 이동 -->
      <div class="move-login">
        <span>이미 계정이 있으신가요?</span>
        <a href="/user/login">
          <img src="./../../img/user/login-logo.png" alt="">
        </a>
      </div>
      </div>
 </div>
      </form>
    </main>
 
  </div>
<div th:replace="~{/fragment/footer::footer}"></div>


</body>


</html>