<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>비밀번호 찾기 2</title>
  <link rel="stylesheet" th:href="@{/css/user/passwordFind2.css}" />
  <link rel="stylesheet" th:href="@{/css/reset.css}"/>
  <script  defer th:src="@{/js/user/passwordFind2.js}"></script>
</head>
<body>
<div th:replace="~{/fragment/header::header}"></div>
  <!-- 전체 감싼 코드 -->
  <div id="wrapper">
    <main>
      <!-- 컨테이너 -->
      <form action="/user/login/passwordFind/passwordFind2" method="post">
      <div class="check-pw-container">
        <div class="password-find">
          <p class="title">비밀번호 찾기</p>
          <div class="email">
            <div class="name">
              <p id="name-paragraph"></p>
                <input type="text" id="name-input" name="userEmail" placeholder="아이디를 입력해주세요">
                <p id="name-result"></p>
            </div>
            <p id="email-paragraph"></p>
            <div class="email-text">
              <input id="email-input" type="text" name="userPhone" placeholder="전화번호를 입력해주세요">
              <button id="email-button" type="button">전송하기</button>
            </div>
            <p id="email-result"></p>
          </div>
          <!-- 인증버튼 -->
          <div id="vertification">
            <input id="verti-check" type="text" name="certiNumber" placeholder="인증번호를 입력해주세요">
            <p id="countdown"></p>
          </div>
          <div class="submit">
              <button class="submit2">인증하기</button>
            </a>
          </div>
        </div>
      </div>
      </form>
    </main>
    <div th:replace="~{/fragment/footer::footer}"></div>
  </div>
  <script th:if="${errorMessage != null}">
    alert('인증번호가 틀렸습니다.');
  </script>
</body>
</html>