<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>비밀번호 찾기 2</title>
  <link rel="stylesheet" href="./../../css/user/passwordFind2.css" />
  <link rel="stylesheet" href="./../../css/reset.css" />
  <script  defer src="./../../js/user/passwordFind2.js"></script>
  <script defer src="./../../js/fragment/headerFetch.js"></script>
  <script defer src="./../../js/fragment/footerFetch.js"></script>
</head>

<body>



<div th:replace="~{/fragment/header::header}"></div>
  <!-- 전체 감싼 코드 -->
  <div id="wrapper">

    <main>
      <!-- 컨테이너 -->
      <div class="check-pw-container">
        <div class="password-find">
          <p class="title">비밀번호 찾기</p>
          <p class="text">인증코드를 입력해주세요</p>
          <!-- <div class="email">
              <input type="text" placeholder="이메일 주소를 입력해주세요">
              <button>재전송</button>
            </div>
            <div class="text-code">
              <input type="text" placeholder="인증번호">
            <! </div> -->
          <div class="email">
            <p id="email-paragraph"></p>
            <div class="email-text">
              <input id="email-input" type="text" placeholder="아이디를 입력해주세요">
              <button id="email-button">재전송</button>
            </div>
            <p id="email-result"></p>
            <p id="countdown"></p>

            <div class="name">
              <p id="name-paragraph"></p>
                <input type="text" id="name-input" placeholder="이름을 입력해주세요">
                <p id="name-result"></p>
            </div>
          </div>
          <!-- 인증버튼 -->
          
          <div class="submit">
            <a href="./changePassword.html">
            <button class="submit2">인증하기</button>
          </a>
          </div>
        </div>
      </div>
    </main>
    <div th:replace="~{/fragment/footer::footer}"></div>
  </div>








</body>

</html>