<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../../css/main/error500.css"/>
    <title>500</title>
</head>
<body>

<div id="wrapper">
    <header></header>
    <main>
        <div class="container">
            <img id="error" th:src="@{/img/main/400error.png}" alt="오류 이미지 ">
            <img id="error2" th:src="@{/img/main/400error2.png}" alt="오류 이미지2">
        </div>
    </main>

</div>

</body>
</html>