<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAIN</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer th:src="@{/js/main/main.js}"></script>

</head>

<body>
<div th:replace="~{/fragment/header::header}"></div>
<div id="wrapper">

    <!-- 헤더 끝-========================================================================== -->

    <main>
        <div class="container">
            <!-- 1. 메인배너 -->
            <div class="main-banner-container bottom">
                <!-- 1-1. 왼쪽 메인배너 -->
                <div class="main-left-wrapper">
                    <a th:href="@{/myLife/detail-my(boardId=${mainLeft.boardId})}">
                        <img th:src="${mainLeft.boardFileName}" alt="" />
                        <div class="wrap-main-left-text">
                            <span th:text="${mainLeft.boardTitle}">제 영화 시나리오의 원천이 어디인가</span>
                        </div>
                        <!-- 랭킹 -->
                        <div class="rank-wrap rank-1st"><span>1</span></div>
                        <!-- 프로필 -->
                        <div class="wrap-main-left-profile">
                            <a href="#" class="link-main-profile wrap--profile">
                                <div class="banner-profile-img">
                                    <img th:src="${mainLeft.userFileProfileSource}" alt="" />
                                </div>
                                <div class="banner-profile-text"><span th:text="${mainLeft.userNickname}">nickname</span></div>
                            </a>
                        </div>
                    </a>
                </div>
                <!-- 1-1. 오른쪽 메인배너 -->
                <div class="main-right-wrapper">
                    <div class="main-top-box"  th:each="rightboard : ${rightBoards}">
                        <a th:href="@{/myLife/detail-my(boardId=${rightboard.boardId})}">
                            <img th:src="${rightboard.boardFileName}" alt="" />
                            <div class="wrap-main-top-text">
                                <span th:text="${rightboard.boardTitle}">크기가 애매한건지 위치가 애매한건지</span>
                            </div>
                            <div class="rank-wrap" th:classappend="'rank-' + ${rightboard.boardRank} + 'st'"><span style="font-weight: bold" th:text="${rightboard.boardRank}">2</span></div>
                            <!-- 프로필 -->
                            <div class="wrap-main-right-profile">
                                <a href="#" class="link-main-profile wrap--profile">
                                    <div class="banner-profile-img">
                                        <img th:src="${rightboard.userFileProfileSource}" alt="" />
                                    </div>
                                    <div class="banner-profile-text"><span th:text="${rightboard.userNickname}">nickname</span></div>
                                </a>
                            </div>
                        </a>
                    </div>
                    <!--                        <div class="main-bottom-box">-->
                    <!--                            <a href="#">-->
                    <!--                                <img class="transform" src="./../../img/main/봉준호 (5).jpg" alt="" />-->
                    <!--                                <div class="wrap-main-bottom-text"><span># 좀 더 작고 짧게</span></div>-->
                    <!--                                <div class="rank-wrap rank-3st"><span>3</span></div>-->
                    <!--                                &lt;!&ndash; 프로필 &ndash;&gt;-->
                    <!--                                <div class="wrap-main-right-profile">-->
                    <!--                                    <a href="#" class="link-main-profile wrap&#45;&#45;profile">-->
                    <!--                                        <div class="banner-profile-img">-->
                    <!--                                            <img src="./../../img/main/봉준호 (8).jpg" alt="" />-->
                    <!--                                        </div>-->
                    <!--                                        <div class="banner-profile-text"><span>nickname</span></div>-->
                    <!--                                    </a>-->
                    <!--                                </div>-->
                    <!--                            </a>-->
                    <!--                        </div>-->
                </div>
            </div>
            <!-- 2. 인기 컨텐츠 -->
            <div class="pop-content-container">
                <!-- 2-1. 타이틀 -->
                <div class="title">
                    <span>인기 컨텐츠</span>
                    <a th:href="@{/everyLife}"><span>더보기</span></a>
                </div>
                <!-- 2-2. 인기컨텐츠 컨텐츠  -->
                <div class="pop-main-content">
                    <!-- 컨텐츠 (1) -->
                    <div th:each="board, i : ${boards}" class="wrap-pop-main">
                        <a class="link-pop-title" th:href="@{/myLife/detail-my(boardId=${board.boardId})}">
                            <div class="pop-title"><span th:text="${board.boardTitle}"></span></div>
                        </a>
                        <div class="pop-views" th:text="|조회수 : ${board.boardViewCount}|"></div>
                        <div class="pop-date" th:text="|작성일 : ${#temporals.format(board.boardCreatedDate, 'yyyy년 MM월 dd일')}|"></div>
                        <a th:href="@{/myLife/detail-my(boardId=${board.boardId})}" class="link-pop-profile">
                            <div  class="pop-profile-wrap">
                                <div class="box-profile-img">
                                    <img th:src="${board.userFileProfileSource}" alt="" />
                                </div>
                                <div class="box-profile-nickname"><span th:text="${board.userNickname}"></span></div>
                            </div>
                        </a>
                        <a th:href="@{/myLife/detail-my(boardId=${board.boardId})}" class="link-pop-content">
                            <div class="pop-content">
                                <span th:text="${board.boardContent}"></span>
                            </div>
                        </a>
                    </div>

                    <!-- -- -->
                </div>
            </div>

            <!-- 3. 인기 키워드-->
            <div class="keyword-container">
                <!-- 3-1. 왼쪽 -->
                <div class="keyword-left">
                    <div class="title2">
                        <span>인기 키워드</span>
                        <span>타임노션에서 추천하는 키워드<br />
                  나와 같은 직업, 나이, 관심사 등을<br />
                  모두의 일대기에서 검색해보세요!</span
                        >
                    </div>
                </div>
                <!-- 3-1. 오른쪽 -->
                <div class="keyword-right" th:href="@{/user/login}">
                    <div class="keyword-first-line">
                        <!-- 7개까지만 -->
                        <div class="keyword">해외축구</div>
                        <div class="keyword">국내영화</div>
                        <div class="keyword">귀여운</div>
                        <div class="keyword">햄버거</div>
                        <div class="keyword">드립커피</div>
                        <div class="keyword">아이스크림</div>
                        <div class="keyword">컴퓨터</div>
                    </div>
                    <div class="keyword-second-line">
                        <!-- 7개까지만 -->
                        <div class="keyword2">옛날공책</div>
                        <div class="keyword2">여행지</div>
                        <div class="keyword2">지역맛집</div>
                        <div class="keyword2">의약품</div>
                        <div class="keyword2">용인쌀</div>
                        <div class="keyword2">건전지</div>
                        <div class="keyword2">멀티탭</div>
                    </div>
                </div>
            </div>

            <!-- 4. 하단 -->
            <div class="sub-banner">
                <div class="sub-banner-wrapper">
                    <ul class="sub-banner-box">
                        <li><a href="#"><img src="./../../img/main/banner1.png" alt="" class="sub-banner-img"></a></li>
                        <li><a href="#"><img src="./../../img/main/banner2.png" alt="" class="sub-banner-img"></a></li>
                        <li><a href="#"><img src="./../../img/main/banner3.png" alt="" class="sub-banner-img"></a></li>
                        <li><a href="#"><img src="./../../img/main/banner4.png" alt="" class="sub-banner-img"></a></li>
                        <li><a href="#"><img src="./../../img/main/banner1.png" alt="" class="sub-banner-img"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>
<div th:replace="~{/fragment/footer::footer}"></div>
</body>
</html>