git<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./../css/notion.css" />
    <link rel="stylesheet" href="./../css/reset.css" />
  </head>
  <body>





    <div id="wrapper">
      <header>header</header>
      <main>
        <div class="container">
          <div class="banner">dd
            안녕하세요ㅛㅇ요ㅛ요요요ㅛ요요요요ㅛㅇ
          </div>
        </div>
      </main>

      <footer>footer</footer>
    </div>








  </body>
</html>
