* {
  padding: 0;
  margin: 0;
}
/* #cadb36  #594096 #1c191a*/
body {
  width: 100%;
  height: 100%;
  background-color: #fcfaf7; /* 다 해보고 지저분해보이면 뺄 예정 */

}
#wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
header {
  text-align: center; /* 내부 요소들을 가운데로 정렬 */
  height: 140px;
  width: 100%;
  background-color: #e5f2f7;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: rgb(221, 222, 224);
  width: 100%;
  height: 335px;
}

/* -------------------------------------------------------------------------------------- */

.container {
  max-width: 1000px;
  width: 1000px;
  min-width: 1000px;
  background-color: #fcfaf7; /* 다 해보고 지저분해보이면 뺄 예정 */
  box-sizing: border-box;
  padding: 40px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom {
  margin-bottom: 110px;
}

/* 1. 메인배너  ---------------------------------------------------------- */
.main-banner-container {
  width: 922px;
  height: 337px;
  display: flex;
  justify-content: space-between;
}
/* (배너 마우스 hover 효과)  */
.main-left-wrapper img,
.main-top-box img,
.main-bottom-box img,
.sub-banner-wrapper img {
  transition: all 0.15s linear; /* 은근하게 커지기 */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-left-wrapper img:hover,
.main-top-box img:hover,
.main-bottom-box img:hover,
.sub-banner-wrapper img:hover {
  transform: scale(1.05, 1.05); /* 마우스 올리면 확대 */
}

/* 1-1. 왼쪽 메인배너 */
.main-left-wrapper {
  width: 594px;
  height: 100%;
  background-color: darkgray;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.wrap-main-left-text {
  position: absolute;
  bottom: 38px;
  left: 20px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
/* 배너에 있는 프로필 */
.wrap-main-left-profile{
  position: absolute;
  bottom: 15px;
  left: 20px;
}
.wrap--profile{ /* 공통 */
  display: flex;
  align-items: center;
}

.banner-profile-img { /* 공통 */
  width: 16px;
  height: 16px;
  border-radius: 100%;
  overflow: hidden;
}
.banner-profile-text { /* 공통 */
  margin-left: 6px;
  font-weight: 700;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white ;
}


/* 오른쪽 메인배너  =------*/
.main-right-wrapper {
  width: 318px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 오른쪽 상단 */
.main-top-box {
  height: 160px;
  width: 100%;
  border-radius: 6px;
  background-color: lightblue;
  position: relative;
  overflow: hidden;
}

.wrap-main-top-text {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

/* 오른쪽 하단  */
.main-bottom-box {
  height: 150px;
  width: 100%;
  border-radius: 6px;
  background-color: lightblue;
  margin-top: 6px;
  position: relative;
  overflow: hidden;
}
.wrap-main-bottom-text {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}


/* 오른쪽 배너들 프로필  */
.wrap-main-right-profile{
  position: absolute;
  bottom: 10px;
  left: 20px;
}

/* 랭킹 !!!! ---- */

.rank-wrap{
  position: absolute;
  top: 0px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(71, 48, 48);

}
.rank-1st{
  width: 30px;
  height: 40px;
  background-color: rgb(236, 215, 61);
  font-weight: bold;
}
.rank-2st{
  width: 25px;
  height: 35px;
  background-color: rgb(137, 232, 206);
  font-size: 13px;
  
}
.rank-3st{
  font-weight: bold;
  width: 25px;
  height: 35px;
  background-color: rgb(195, 193, 254);
  font-size: 12px;
}



/* 2. 인기 컨텐츠   ---------------------------------------------------------- */
/* 2-1. 타이틀 */
.pop-content-container {
  width: 922px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  white-space: nowrap;
}
.title {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
}
.title :first-child {
  font-size: 23px;
  font-weight: bold;
  margin-right: 6px;
  white-space: nowrap;
}
.title :last-child {
  font-size: 10px;
  color: black;
  white-space: nowrap;
}

/* 2-2. 인기 컨텐츠 -- 컨텐츠 */

.pop-main-content {
  display: flex;
  justify-content: space-between;
}

.wrap-pop-main {
  background-color: #f7f4f2;
  width: 224px;
  height: 325px;
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 1px rgba(42, 42, 42, 0.078);
}
.wrap-pop-main:hover{
  background-color: rgb(238, 239, 236);
}
.link-pop-title{
  color: #1b0309;
}
.pop-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.pop-views {
  font-size: 10px;
  color: gray;
  margin-bottom: 8px;
}
.pop-date {
  font-size: 10px;
  color: gray;
  margin-bottom: 8px;
}

/* 프로필 */
.pop-profile-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.box-profile-img {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  overflow: hidden;
}
.box-profile-nickname {
  margin-left: 6px;
  font-weight: 700;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1b0309;
}
/* 컨텐츠 */
.pop-content {
  font-size: 12px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: normal; /* 줄넘어가게 */
  color: #050214;
  height: 170px;
}

/* 3. 인기 키워드 -------------------------------------------------------------------------- */
.keyword-container {
  margin-bottom: 116px;
  padding-top: 60px;
  display: flex;
}
/* 3-1. 왼쪽 */
.title2 {
  display: flex;
  flex-direction: column;
  width: 204px;
}
.title2 :first-child {
  font-size: 23px;
  font-weight: bold;
  margin: 0px 6px 12px 0px;
  white-space: nowrap;
}
.title2 :last-child {
  font-size: 12px;
  line-height: 20px;
  color: black;
  white-space: normal;
}
/* 3-1. 오른쪽 */
/* 키워드가 두줄로 들어감 */
.keyword-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.keyword-first-line {
  margin-bottom: 10px;
  display: flex;
}
.keyword-second-line {
  margin-bottom: 10px;
  display: flex;
  margin-left: 70px;
}
.keyword {
  background-color: rgb(225, 243, 221);
  border-radius: 30px;
  padding: 11px 18px;
  font-size: 13px;
  margin-right: 6px;
  white-space: nowrap;
  cursor: pointer;
}
.keyword2 {
  background-color: rgb(202, 227, 197);
  border-radius: 30px;
  padding: 11px 18px;
  font-size: 13px;
  margin-right: 6px;
  white-space: nowrap;
  cursor: pointer;
}

.keyword:hover {
  background-color: rgb(241, 116, 137);
  transition: all 0.08s linear;
  transform: scale(1.2);

}
.keyword2:hover {
  background-color: rgb(241, 116, 137);
  transition: all 0.08s linear;
  transform: scale(1.2);

}

/* 4. 하단 배너 ------------------------------------------------------------------------ */
.sub-banner {
  background-color: rgb(241, 241, 241);
  height: 100%;
  width: 100%;
  margin-bottom: 116px;
}
.sub-banner-wrapper { /* 감싸는 사이즈용 */
  display: flex;
  position: relative;
  overflow: hidden;
  width: 920px; height: 180px;  border-radius: 6px;
}
.sub-banner-box{ /* ul */
  display: flex;
  width: 100%; height: 100%;
  position: absolute;
  top: 0px; left: 0px;
  transition: left 1s ease; 
}

.sub-banner-box img {
  width: 920px; height: 180px;
  object-fit: cover;
  /* object-position: center 40%; */
  /* 가로 방향은 중앙, 세로 방향은 위쪽에서 20% 위치에 오도록 조정 */
}


/* 배너 위에 글자 */
.sub-banner-text1 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(3, 67, 42);
}
.sub-banner-text2 {
  position: absolute;
  top: 40px;
  left: 20px;
  font-weight: bold;
  font-size: 24px;
  color: rgb(3, 67, 42);
}
