<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.geungeunhanjan.mapper.board.KeywordMapper">
    <insert id="keywordInsert" parameterType="KeywordVO">
        <selectKey resultType="Long" keyProperty="keywordId" order="BEFORE">
            select seq_keyword.nextval from dual
        </selectKey>
        insert into gghj_keyword(keyword_id, keyword_content, keyword_time_stamp)
        values(#{keywordId}, #{keywordContent}, SYSDATE)
    </insert>


    <select id="selectKeywordContent" resultType="KeywordVO" parameterType="string">
        SELECT keyword_content
        FROM GGHJ_KEYWORD
        WHERE keyword_content = #{keywordContent}
    </select>

    <update id="increamentSearchCount" parameterType="string">
        UPDATE GGHJ_KEYWORD
        SET search_count = search_count + 1
        WHERE keyword_content = #{keywordContent}
    </update>



</mapper>