input[type="text"]{
    font-family: 'Noto Sans KR';
}
textarea{
    font-family: 'Noto Sans KR';
}
select{
    font-family: 'Noto Sans KR';
}
button[type="button"]{
    border: none;
    background-color: #fcfaf7;
}
button[type="button"]:hover{
    cursor: pointer;
}
.inquiry-container{
    margin: 0 auto;
    padding: 100px 40px;
    /* border: 1px solid black; */
    height: 1300px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.inquiry-wrap1{
    /* border: 1px solid black; */
    height: 40px;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
    position: relative;
}
.inquiry-button{
    position: absolute;
    right: 10px;
    top: 20px;
}
.inquiry-selector{
    margin-bottom: 10px;
    position: relative;
}
.inquiry-button button[type="button"]{
    font-size: 13px;
    /* border: 1px solid black; */
    width: 130%;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    position: relative;
    bottom: 20px;
    right: 20px;
}

.inquiry-modal{
    box-shadow: 1px 1px 10px 2px gray;
    width: 680px;
    height: 360px;
    /* display: none; */
    /* border: 1px solid black; */
    position: absolute;
    right: 16%;
    background-color: aliceblue;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    padding: 70px 10px 0 10px;
}
.modal-main-img{
    position: absolute;
    top: 20px;
    left: 30px;
}
.modal-main-img img{
    width: 120px;
    height: 60px;
}
.inquiry-modal-nickname{
    /* border: 1px solid black; */
    float: left;
    width: 58%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    margin-left: 20px;
}
.inquiry-modal-title input[type="text"]{
    width: 180px;
    height: 30px;
    padding-left: 10px;
    background-color: #f5f7ff;
    border: none;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
}
.inquiry-modal-title span{
    float: right;
    /* border: 1px solid black; */
}
.inquiry-modal-content textarea{
    padding-left: 10px;
    padding-top: 2px;
    background-color: #f5f7ff;
    border: none;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
    width: 80%;
}
.inquiry-modal-title select{
    height: 35px;
    padding-left: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    background-color: #f5f7ff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}
.inquiry-modal-btns{
    margin: 30px auto 0 auto;
    width: 160px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around ;
}
.inquiry-modal-btns button[type="button"]{
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1 );
    /* border: 1px solid black; */
    border-radius: 6px;
    height: 25px;
    width: 60px;
    font-weight: 600;
}
.inquiry-modal-btns button[type="submit"]{
    font-size: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    /* border: 1px solid black; */
    border-radius: 6px;
    height: 25px;
    width: 60px;
    text-align: center;
    font-weight: 600;
}
.inquiry-modal-btns button[type="button"]:hover{
    cursor: pointer;
}
.inquiry-modal-btns button[type="submit"]:hover{
    cursor: pointer;
}

.inquiry-modal-content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.inquiry-selector button{
    height: 100%;
    font-size: 25px;
    font-weight: bold;
}
.inquiry-title button{
    margin-left: 15px;
    color: rgb(72, 100, 226);
}
.notification-title{
    opacity: 0.5;
}
.inquiry-wrap2{
    /* border: 1px solid black; */
    height: 570px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.inquiry-contents{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 64px;
    line-height: 64px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.contents-title button[type="button"]{
    /* border: 1px solid black; */
    background-color: white;
    /* color: black; */
    font-size: 16px;
    /* font-weight: 550; */
    font-family: 'Noto Sans KR';
}
.contents-form{
    height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 48px;
    border-bottom: none;
}
.contents-number{
    display: inline-block;
    /* border: 1px solid black; */
    width: 60px;
}

.contents-writer{
    display: inline-block;
    width: 100px;
}
.contents-date{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.inquiry-paging{
    margin: 40px auto 120px auto;
    display: flex;
    width: 150px;
    /* border: 1px solid black; */
    font-size: 14px;
    justify-content: space-around;
}
.inquiry-paging a{
    color: black;
}
.paging-backward{
    display: none;
}
.paging-forward{
    display: block;
}
.inquiry-banner{
    height: 175px;
    width: 900px;
    /* width: 100%; */
    overflow: hidden;
    position: relative;
    display: flex;
    /* right:900px; */
    /* border: 1px solid black; */
}
.inquiry-banner img{
    width: 900px;
    /* width: 100%; */
    height: 175px;
    border-radius: 6px;
    /* border: 1px solid red; */
}
.inquiry-banner img:hover{
    transform: scale(1.1);
    transition: 0.8s ease;
}
.inquriy-banner-img{
    width: 900px;
    height: 175px;
    position: relative;
    /* right: 1800px; */
    /* overflow: hidden; */
}
.prev, .next{
    position: absolute;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    bottom: 330px;
    cursor: pointer;
}
.inquiry-prev{
    left: 23px;
    display: none;
}
.inquiry-next{
    right: 39px;
}
#inquiry-modal-answer{
    box-shadow: 1px 1px 10px 2px gray;
    display: none;
    width: 680px;
    height: 360px;
    border-radius: 6px;
    /* border: 1px solid black; */
    position: absolute;
    right: 16%;
    top: 20%;
    background-color: aliceblue;
    padding: 80px 30px 0 30px;
}
.inquiry-modal-answer-title-box{
    /* display: flex; */
    /* flex-direction: column; */
    width: 80%;
    /* border: 1px solid black; */
    margin: 15px auto 40px auto;
}
.inquiry-modal-answer-title{
    font-size: 25px;
    font-weight: bold;
}
.inquiry-modal-answer-visibility{
    float: right;
    /* display: inline-block; */
    /* border: 1px solid red; */
    text-align: right;
    background-color: rgba(0, 0, 0, 0.1 );
    border-radius: 6px;
    font-size: 12px;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.inquiry-modal-answer-content{
    margin-top: 20px;
    background-color: #f5f7ff;
    width: 100%;
    height: 120%;
}
.inquiry-modal-answer-answer{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.inquiry-modal-answer-answer p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.inquiry-modal-answer-btns{
    margin: 80px auto 0 auto;
    width: 160px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around ;
}
.inquiry-modal-answer-realAnswer{
    background-color: #f5f7ff;
    width: 100%;
    height: 120%;
}
.inquiry-modal-answer-delete{
    font-size: 15px;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 6px;
    height: 25px;
    width: 60px;
    font-weight: 600;
}
.inquiry-modal-answer-exit{
    font-size: 15px;
    text-align: center;

    /* border: 1px solid black; */
    border-radius: 6px;
    height: 25px;
    width: 60px;
    font-weight: 600;
}
.inquiry-modal-answer-exit button[type="button"]{
    background-color: rgba(0, 0, 0, 0.1);
}

.inquiryPage-box a{
    color: black;
}

.inquiryPage-a {
    text-decoration: none;
    /*color: #00c7ae;*/
}

.inquiryPage-box {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inquiryPage-num {
    /*border: 1px solid black;*/
    width: 30px;
    height: 40px;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    /*background-color: white;*/
    cursor: pointer;
}
