button[type="button"]{
    border: none;
    background-color: #fcfaf7;
}
button[type="button"]:hover{
    cursor: pointer;
}
.notification-container{
    position: relative;
    margin: 0 auto;
    padding: 100px 40px;
    /* border: 1px solid black; */
    height: 1300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.notification-wrap1{
    /* border: 1px solid black; */
    height: 40px;
    margin-bottom: 20px;
}
.notification-selector{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.notification-selector button{
    height: 100%;
    font-size: 25px;
    font-weight: bold;
}
.notification-title button{
    margin-right: 15px;
    color: rgb(72, 100, 226);
}
.inquiry-title{
    opacity: 0.5;
}
.notification-wrap2{
    /* border: 1px solid black; */
    height: 570px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.notification-contents{
    font-size: 14px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.contents-title a{
    color: black;
    font-size: 16px;
}
.contents-form{
    height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 48px;
    border-bottom: none;
}
.contents-number{
    display: inline-block;
    /* border: 1px solid black; */
    width: 60px;
}
.contents-writer{
    display: inline-block;
    width: 100px;
}
.contents-date{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.contents-next-content form button{
    margin-right: 30px;
}
.contents-next-content{
    display: flex;
}

/*페이지 css */
/*  css는 추후 수정하는 것으로   */
.page-box a{
    color: black;
}

.page-a {
    text-decoration: none;
    /*color: #00c7ae;*/
}

.page-box {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-num {
    /*border: 1px solid black;*/
    width: 30px;
    height: 40px;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    /*background-color: white;*/
    cursor: pointer;
}

/*.active,*/
/*.page-num:hover {*/
/*    !*background-color: #00c7ae;*!*/
/*    color: white;*/
/*}*/

/* --   배너    ---*/
.notification-banner{
    height: 175px;
    width: 900px;
    /* width: 100%; */
    overflow: hidden;
    position: relative;
    display: flex;
    /* right:900px; */
    /* border: 1px solid black; */
}
.notification-banner img{
    width: 900px;
    /* width: 100%; */
    height: 175px;
    border-radius: 6px;
    /* border: 1px solid red; */
    /* object; */
    /* background-size: contain;
    background-position: contain; */
}
.notification-banner img:hover{
    transform: scale(1.1);
    transition: 0.8s ease;
}
.notification-banner-img{
    width: 900px;
    height: 175px;
    position: relative;
    /* right: 1800px; */
    /* overflow: hidden; */
}
