* {
  padding: 0;
  margin: 0;
}
/* #cadb36  #594096 #1c191a*/
body {
  width: 100%;
  height: 100%;
}
#wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
header {
  text-align: center; /* 내부 요소들을 가운데로 정렬 */
  height: 140px;
  width: 100%;
  background-color: #e5f2f7;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgb(221, 222, 224);
  width: 100%;
  height: 335px;
}

/* -------------------------------------------------------------------------------------- */

/* 노란 영역 부분 = 컨테이너  */

.container {
  max-width: 1000px;
  width: 1000px;
  background-color: #fcfaf7; /* 다 해보고 지저분해보이면 뺄 예정 */
  /* height: 1200px; 임의로 준 것, 실제론 지우세요  */

  box-sizing: border-box;
  padding: 40px;
  min-width: 1000px;
}
/* 컨텐츠영역 보느라 넣어둔것 지우고 알아서 쓰세욤 */

/* 배너 부분은 윤근님한테 받을 div 박스  */

/* 1. 타이틀 글자 부분 --------------------------------------------------------------------- */
.title-text-wrapper {
  margin: 80px 0 24px 0;
  color: #2f3438;
}

.title-your {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 12px;
  letter-spacing: -1px;
}
.title-sub {
  font-size: 13px;
  letter-spacing: -0.5px;
}
.underline {
  border-bottom: 1px solid gray;
  padding: 9px;
}

/* 2. 팔로잉 / 팔로워 wrapper  --------------------------------------------------------------------- */

.wrapper-follows {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #2f3438;
  margin-bottom: 24px;
  text-align: center;
}

/* 2-1. 팔로워 followers */
/* 걍 똑같이생겨서 복붙했어염~ */
.flwers-wrapper {
  display: flex;
  flex-direction: column;
}

.flwers-box {
  width: 457px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.125);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.flwers-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.flwers-left a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* 프로필사진 */
.flwers-img-box {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}
.flwers-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 닉네임, 일기, 팔로워 수 */
.flwers-nick-count-box {
  margin-left: 10px;
  display: flex;
  width: 380px;
  justify-content: space-between;
}
.nickname {
  font-size: 16px;
  font-weight: 600;
  color: #2f3438;
  margin-right: 30px;
}
.count-box {
  font-size: 10px;
  color: #2f3438;
  margin-top: 5px;
}
.bold {
  font-weight: bold;
}

.count-box span:nth-child(3) {
  margin-left: 5px;
}
.count-box span {
  margin-right: 3px;
}

/*  2-1-2. 오른쪽 : 채팅버튼 */
.followers-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* 채팅 버튼★ 색 뭐루바꾸지! */
.chat-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 25px;
  background-color: pink;
  border-radius: 6px;
  cursor: pointer;
}
.chat-box button {
  border: none;
  background-color: transparent;
  font-size: 11px;
  cursor: pointer;
}
.chat-box:hover {
  background-color: rgb(245, 156, 171);
  cursor: pointer;
  transition: all 0.1s linear;
}

/* 3. 페이지네이션 ----------------------------------------------- */
.wrapper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  font-size: 12px;
}
.chevron-left {
  width: 10px;
  height: 10px;
  overflow: hidden;
  padding: 10px;
  transform: rotate(90deg);
}
.chevron-left img {
  width: 100%;
  height: 100%;
}
.chevron-right {
  width: 10px;
  height: 10px;
  overflow: hidden;
  padding: 10px;
  transform: rotate(-90deg);
}
.chevron-right img {
  width: 100%;
  height: 100%;
}
