button[type="button"]{
    border: none;
    background-color: #fcfaf7;
}
button[type="button"]:hover{
    cursor: pointer;
}

body{     background-color: #fcfaf7;}

.notification-container{
    position: relative;
    margin: 0 auto;
    padding: 100px 40px;
    /* border: 1px solid black; */
    height: 1300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.notification-wrap1{
    /* border: 1px solid black; */
    height: 40px;
    margin-bottom: 20px;
}
.notification-selector{
    margin-bottom: 10px;
}
.notification-selector button{
    height: 100%;
    font-size: 25px;
    font-weight: bold;
}
.notification-title button{
    margin-right: 15px;
    color: #9cd3e8;
}
.inquiry-title{
    opacity: 0.5;
}
.notification-wrap2{
    /* border: 1px solid black; */
    height: 570px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.notification-contents{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
}
.contents-title a{
    color: black;
    font-size: 16px;
}
.contents-form{
    height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 48px;
    border-bottom: none;
}
.contents-number{
    display: inline-block;
    /* border: 1px solid black; */
    width: 60px;
}
.contents-next-content{
    display: flex;
    justify-content: center;
}
.contents-writer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7px;
    height: 30px;
    background-color: #9cd3e8;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.contents-writer:hover {
    background-color: #00BFFF;
    color: white;
}
.contents-date{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.notification-paging{
    margin: 40px auto 120px auto;
    display: flex;
    width: 150px;
    font-size: 14px;
    /* border: 1px solid black; */
    justify-content: space-around;
}
.notification-paging a{
    color: black;
}
.paging-backward{
    display: none;
}
.paging-forward{
    display: block;
}


