*{
    font-family: 'pretendard';
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.chat-detail-container {
    width: 100%;
    max-width: 540px;
    min-width: 200px;
    height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    padding: 20px;
    background-color: #e9ecef;
    color: #57646a;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #cfd8dc;
}

.chat-body {
    flex: 1;
    padding: 25px;
    overflow-y: auto;
    background-color: #e9ecef;
}

.chat-message {
    display: flex;
    justify-content: flex-end; /* 메시지 보낸 사람의 메시지는 오른쪽 정렬 */
    margin-bottom: 6px;
}

.chat-message.others {
    display: flex;
/*    flex-direction: column;*/ /* 이거때문에 메세지가 길게됨 왜지?  */
    justify-content: flex-start; /* 상대방이 보낸 메시지는 왼쪽 정렬 */
    border-radius: 20px; /* 테두리 모양 변경 */
    /*border: 1px solid black;*/
    margin-bottom: 7px;
}

/* 말풍선 패딩 설정  */
.message-content {
    display: inline-block;
    max-width: 80%;
    padding: 11px 18px;
    border-radius: 12px;
    background-color: #5AB6D9;
    color: white;
    font-size: 15px;
}

/* 상대방 말풍선 색 */
.chat-message.others .message-content {
    background-color: #57646a;
}

.sender-info {
    display: flex;
    align-items: center;
    margin-right: 10px; /* 프로필 이미지와 닉네임 간의 간격 조정 */
}

.sender-profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.receiver{
    margin-bottom: 7px;
}
.sender-nickname .receiver-nickname{
    /*font-weight: bold;*/
    margin-right: 5px;
    font-size: 12px;
}

/* 채팅 아랫부분 ---------------------------------------------*/

.chat-footer {
    padding: 10px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    border-top: 1px solid #dee2e6;
}

/* 메세지를 입력하세요 칸 */
.chat-footer input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #f8f9fa;
    margin-right: 10px;
    font-size: 14px; /* 입력란 폰트 사이즈 조정 */
}


/* 전송 버튼 */
.chat-footer button {
    border: none;
    border-radius: 8px;
    background-color: #5AB6D9;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 배경색 변경 시 부드럽게 전환 */
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-footer button img{
    width: 57%;
    height: 65%;
    object-fit: cover;
}

.chat-footer button:hover {
    background-color: #0056b3; /* 마우스 호버 시 배경색 변경 */
}

.chat-footer button:focus {
    outline: none; /* 포커스 시 테두리 제거 */
}





/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */

/* left container */

.left-container{
    width: 260px;
    height: 80vh;
    box-sizing: border-box;
    padding: 20px 20px;
    margin-right: 30px;
}

/* 1. 상단 뒤로가기 버튼 */
.back-list-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
/* 목록으로 돌아가기 버튼 */
.back-icon-img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: #dbdbdb;
    margin-right: 12px;
    cursor: pointer;
    transition-duration: 0.25s;
}
.back-icon-img-box img{
    width: 32%;
    height: 32%;
    object-fit: cover;
}
.back-icon-img-box:hover{
    background-color: #c6c6c6;
}
.back-icon-text{
    font-size: 13px;
    color: #57646a;
}
.bottom-underline{
    border-bottom: 1px solid #cfd8dc;
    margin-bottom: 23px;
}
/* 2. 프사 / 닉네임 */
.profile-area-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/* 프사 */
.profile-img-box{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 22px;
    overflow: hidden;
    background-color: darkgray;
}
.profile-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 닉네임 */
.profile-nickname-box{
    color: #2a3033;
    font-weight: bold;
    font-size: 17px;
}


/* 3. 목록으로 돌아가기 */
.link-box{
    margin-bottom: 9px;
}
.link-box a:hover{
    background-color: #e8e8e8;
    color: #5AB6D9;

}
.link-box a{
    height: 20px;
    width: 100%;
    background-color: #efefef;
    padding: 22px 16px;
    border-radius: 8px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #556D77;
    font-size: 13px;
    transition-duration: 0.25s;
}



/*     border-radius: 10px 10px 0px 10px;    */