button[type="button"]{
    border: none;
    background-color: #fcfaf7;
}
button[type="button"]:hover{
    cursor: pointer;
}

body{     background-color: #fcfaf7;}

.notification-container{
    position: relative;
    margin: 0 auto;
    padding: 100px 40px;
    /* border: 1px solid black; */
    height: 1300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.notification-wrap1{
    /* border: 1px solid black; */
    height: 40px;
    margin-bottom: 20px;
}
.notification-selector{
    margin-bottom: 10px;
}
.notification-selector button{
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    color: #56727d;
}
.notification-title button{
    margin-right: 15px;
    color: #9cd3e8;
}
.inquiry-title{
    opacity: 0.5;
}
.notification-wrap2{
    /* border: 1px solid black; */
    height: 570px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.notification-contents{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    border-radius: 6px;
    font-size: 14px;
}
.contents-title a{
    color: black;
    font-size: 16px;
}
.contents-form{
    height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 48px;
    border-bottom: none;
}
.contents-number{
    display: inline-block;
    /* border: 1px solid black; */
    width: 60px;
}
.contents-next-content{
    display: flex;
    justify-content: center;
}
.contents-writer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7px;
    height: 30px;
    background-color: #9cd3e8;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.contents-writer:hover {
    background-color: #00BFFF;
    color: white;
}
.contents-date{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.notification-paging{
    margin: 40px auto 120px auto;
    display: flex;
    width: 150px;
    font-size: 14px;
    /* border: 1px solid black; */
    justify-content: space-around;
}
.notification-paging a{
    color: black;
}
.paging-backward{
    display: none;
}
.paging-forward{
    display: block;
}


/* 채팅 리스트 디자인 -------------------------------------------- 담 */
.chat-wrapper{
    width: 100%;
}
.chat-li-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    height: 95px;
    padding: 0px 20px;
}

.chat-li-content{
    background-color: transparent;
    border-radius: 6px;
    transition-duration: 0.25s;

}
/* 앞쪽 컨텐츠 ---------------------- */
.prev-wrap{
    align-items: center;
    display: flex;
}
/* 1. 프로필 사진 */
.profile-list-img-box{
    width: 65px;
    height: 65px;
    background-color: darkgray;
    border-radius: 8px;
    margin-right: 18px;
}
.profile-list-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
/* 2. 닉네임 / 컨텐츠 / 시간 */
.content-box{
    display: flex;
    flex-direction: column;
}
.nickname2{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 8px;
    color: #251F1F;
}
/* 댓글 , 시간*/
.conversation-box{
    display: flex;
    align-items: center;
}
.conversation{
    margin-right: 18px;
    font-size: 12px;
}
.cv-time{
    font-size: 12px;
    color: #828282;
}
/* 3. 버튼 */
.next-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    background-color: #5AB6D9;
    border-radius: 40px;
}
.chatList-hr{
    border: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.07);
}

.submit-default{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-default img{
    width: 36%;
    object-fit: cover;
}
.hovers{
    display: none;
    color: #5AB6D9;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}










